[2020-06-05 19:08] jovo opened #1 "make this a pip package that is sklearn API compliant"

[2020-06-05 20:22] hhelm10 opened #2 "rename files / classes / functions to be more general"
- Rename lifelong_dnn.py{c} (files) to something like progressive_learning.py{c}
- Rename LifelongDNN to {Lifelong, Progressive}Learner
- Rename new_forest to new_representation or new_model
- etc

[2020-06-05 20:25] hhelm10 opened #3 "More general progressive learners"
it might be good to be able to use a different base model for each task; right now we are locked in with either UF/UDNN for each task.

(it may be as simple as having `model` be an argument for `new_forest` rather than `__init__`.)

[2020-06-05 20:54] jovo opened #4 "document code according to sklearn guidelines"

[2020-06-05 20:58] jovo opened #5 "add regression capabilities"

[2020-06-13 03:29] jovo opened #6 "rotated xor problem"

[2020-06-13 03:29] jovo opened #7 "code review with MSR notes"
- rather than list, make a dictionary for transformers
- change name from "transformers_across_tasks" to something like "transformers_per_task"
- classes_across_tasks" --> classes_per_task
- line 25: --> base_model
- "new_forest" doesn't make sense
- abstract further
- don't like array representation of transformers, rather have a list in case it is not sequential
- fix parallelism with meghana to

[2020-06-13 03:32] jovo opened #8 "update sklearn trees to include oblique splits"

[2020-06-13 03:33] jovo opened #9 "update sklearn trees to be honest"

[2020-06-14 18:09] hhelm10 opened #10 "lighter requirements.txt"
it may be good to have "lighter" package requirements.. i.e. do not have keras or any model-specific requirement in requirement.txt in case users only want to use forests (say) and do not want to install any of the deep learning packages.

[2020-06-14 19:04] jovo opened #12 "put on pypi"

[2020-06-14 19:05] jovo opened #13 "make this repo FIRM"
https://bitsandbrains.io/2018/10/21/numerical-packages.html

(this can happen in stages, there are about 10 of them)

[2020-06-15 05:30] #6 closed

[2020-06-15 05:32] jovo opened #14 "Implement L2F/L2N MVP under code refactorization"
and present subset of PNAS experiment results with timing (consider pushing to master after)

[2020-06-15 20:05] hhelm10 opened #16 "allow for different forest sizes for different tasks"
different number of trees for different tasks breaks LifeLongDNN.new_forest()

[2020-06-21 16:03] jovo commented on #13
look up the 10 steps, enumerate them here, then start making sure they are all done.

[2020-06-24 19:53] levinwil opened #17 "Fill Out Progressive Learning Code Change Document For Refactoring"
Link: https://docs.google.com/document/d/1Pu3IKrN6eUDM2E4pII5Xot5xjGEIEfwN2mN6FhpIFq4/edit

[2020-06-25 13:34] jdey4 commented on #17
@levinwil could you give access to deyjayanta76@gmail.com for the doc?

[2020-07-01 22:57] jdey4 opened #18 "Use scikit-learn structure to do the inference"
Save the honest posteriors in the "value" attribute of sklearn.tree._tree.Tree so that inference can be done using sklearn's built-in predict_proba() method.

[2020-07-02 17:41] jdey4 commented on #13
For the first step (Findable):
1. Make the code open source. I think this is done.
2. Generate a permanent Digital Object Identifier (DOI) using Zenodo. I do not have the permission to upload the codes to Zenodo.
3. Add a license. I added Apache-2.0 License for the repo.

[2020-07-02 17:43] #2 closed

[2020-07-02 17:44] #3 closed

[2020-07-02 17:44] #16 closed

[2020-07-02 17:44] #17 closed

[2020-07-02 17:45] #18 closed

[2020-07-02 17:47] levinwil opened #19 "Unit test L2N/L2F"
Unit tests for

ForestTransformer, NeuralTransformer

ForestVoterClassification, KNNVoterClassification

SimpleDecider

[2020-07-02 17:48] levinwil opened #20 "Compare L2N/L2F with previous implementation"
Similar performance, ideally faster speed

[2020-07-02 17:48] levinwil opened #21 "Clean up new code"

[2020-07-02 17:49] levinwil opened #22 "Rerun PNAS experiments with new code, and merge to master"
If it gives similar results, merge to master

[2020-07-02 17:50] #20 closed

[2020-07-02 19:02] jovo commented on #13
thanks @jdey4 please enumerate all 10 of them here.
use the [ ] notation so that you can check them off as you complete them,
and we can dynamically re-prioritize them as needed.

[2020-07-02 20:03] jdey4 commented on #13
** Findable **
- [ ] Make the code open source.
- [ ] Generate a permanent Digital Object Identifier (DOI).
- [ ] Add a license.

** Installable **
 - [ ] Provide installation guidelines in README.md (system requirements (including hardware and OS), software dependencies, and expected install time)
 - [ ] Deposit code to pypi.

** Runnable **
 - [ ] Provide a demo, including requisite data, expect

[2020-07-03 16:33] jovo commented on #13
@jdey4 contribution guidelines, DOI, and badges are good things to add next

[2020-07-03 20:30] jdey4 commented on #13
@jovo is the repo private? Or maybe I do not have the permission to upload the codes to Zenodo. The repo is not showing up in my Zenodo account.

[2020-07-03 20:56] jovo commented on #13
i just changed your permissions, check now?

[2020-07-03 22:02] jovo opened #23 "modify sklearn trees to support sporf and/or morf"

[2020-07-03 22:03] jovo opened #24 "enable trees to implement folding"

[2020-07-03 22:43] levinwil opened #25 "structure voter/transformer pairing hierarchy"
Discrete and Continuous transformer/voter pairing. This is to avoid using voters that accept data that is transformed into a discrete space (e.g. the nodes of a tree) in conjunction with transformers that transform data into a continuous space (e.g. the intermediate layer of a neural network)

[2020-07-04 01:29] jdey4 commented on #13
It is not working. Google says Zenodo needs permission from the organization owner: https://docs.github.com/en/github/setting-up-and-managing-organizations-and-teams/approving-oauth-apps-for-your-organization

[2020-07-04 02:00] jovo commented on #13
ok, made you owner, try again.

On Fri, Jul 3, 2020 at 9:29 PM Jayanta Dey <notifications@github.com> wrote:

--
With gratitude,

Joshua T Vogelstein, PhD
neurodata.io | BME@JHU <https://www.bme.jhu.edu/>

dA/dt > 0 > dJ/dt
where A = appreciating, J = judging, and t = time

[2020-07-04 02:02] #22 closed

[2020-07-04 02:06] levinwil opened #26 "Ask WeiWei for regression code"
What

[2020-07-04 02:48] jdey4 commented on #13
It worked :)

[2020-07-04 03:21] levinwil opened #27 "Update fig 2 bottom panel to use Hayden’s XOR code"

[2020-07-06 17:35] levinwil opened #28 "Add Parallelization"

[2020-07-06 22:11] jovo opened #29 "make sklearn use honest trees"

[2020-07-06 22:26] jovo commented on #13
yes.  i think you can do the DOI thing now, otherwise, let's put this on pause until the code stabilizes a bit more

[2020-07-08 01:41] #7 closed

[2020-07-24 19:05] #27 closed

[2020-07-24 19:05] #26 closed

[2020-07-24 19:05] #19 closed

[2020-07-24 19:06] #14 closed

[2020-07-31 16:54] #8 closed

[2020-07-31 16:55] jovo opened #33 "add binning capabilities"
for each feature, rather than sampling all possible splits, downsample data into 128 bins (for example), and then choose the best bin to split on.

[2020-07-31 16:58] jovo opened #34 "support streaming (and possibly parallel) decision tree option"
https://github.com/soundcloud/spdt

[2020-07-31 16:58] jovo opened #35 "enable incremental task capabilities"

[2020-08-03 20:42] jovo opened #36 "partition mapping next steps"
- [ ] update procedure to use sample size from task 2
- [ ] run on XOR vs N-XOR
- [ ] try running parity, make plot for d=3, 5, and 10
- [ ] try on CIFAR just to see
- [ ] make it the same speed at the simple procedure

[2020-08-04 20:15] jovo opened #37 "make 3 tutorials to run the experiments from uncertainty-forests"
https://github.com/neurodata/uncertainty-forest/tree/master/figs

[2020-08-04 20:16] jovo opened #38 "make jupyter notebooks for each of the main figures from the progl paper"
to be completed only once the new code is merged into master

[2020-08-04 20:18] jovo opened #39 "implement scene segmentation"

[2020-08-04 20:18] jovo commented on #36
the point of this task is to demonstrate what replay is trying to do, and render it no longer interesting for anybody.

[2020-08-07 19:49] jdey4 opened #40 "Make Jupyter notebook showing the capability of progressive-learning on different datasets"

[2020-08-07 19:52] jdey4 opened #41 "Reproduce each experiment in the paper (experiment folder) in Jupyter notebooks."
Describe each step and render it like a tutorial.

[2020-08-07 19:55] jdey4 opened #42 "Add task-oblivious classification capability to Progressive-learners."
Look at @rmehta004's code.

[2020-08-07 19:57] jdey4 opened #43 "Add Progressive-learning algorithm for image segmentation problem."
Talk to @levinwil .

[2020-08-07 19:59] jdey4 opened #44 "Add regression capability for progressive-learners."

[2020-08-07 20:04] jdey4 opened #45 "Fix continuous integration using travis."

[2020-08-07 20:07] jdey4 opened #46 "Fix the README.md to include overview of the repo and make sure the system requirements are correct."

[2020-08-07 20:11] jdey4 opened #47 "Do the recruitment experiment on a larger dataset with many tasks."
Please go through the recruitment experiment code in the experiment folder and read the paper: https://arxiv.org/pdf/2004.12908.pdf

[2020-08-07 20:13] jdey4 opened #48 "Choose a different dataset other than vision (image tasks) and run progressive-learning algorithms on that dataset."

[2020-08-07 20:17] jdey4 commented on #47
Please go through this repo: https://github.com/neurodata/LLF_tidy_images

[2020-08-08 00:49] jovo commented on #48
please provide links to papers/datasets that they could use @jdey4

[2020-08-08 00:50] jovo commented on #47
@jdey4 please link to jupyter notebook running the recruitment experiment.
if one does not yet exist, make a new issue for somebody to make that.

[2020-08-08 00:51] jovo commented on #40
@jdey4 let's give them other example datasets.  maybe MNIST would be easy and illustrative?
and permuted MNIST?
or some other MNIST variants?

[2020-08-08 02:28] jdey4 opened #49 "Write unit tests for the functions in the repo."

[2020-08-08 19:13] jovo opened #50 "add figure to appendix showing single task performance on the variety of architectures that we considered"
this further motivates our particular choice to show that we did not cherry pick crappy architectures.
requested by @weiweiy

[2020-08-09 03:14] jovo opened #51 "delete duplicate issues (reference the deleted one in the non-deleted one for provenance sake)"

[2020-08-10 00:57] jovo opened #52 "respond to feedback from gido in email, then update overleaf, and slack line/file of changes"

[2020-08-10 00:58] jovo opened #53 "cite this paper for graceful forgetting"
https://link.springer.com/chapter/10.1007/978-3-030-01219-9_9

please cite where we mention graceful forgetting and then slack the file/line change.

[2020-08-10 02:53] jovo opened #54 "update notation in L2F to match notation in GTL"

[2020-08-10 02:57] jovo opened #55 "propose a response/modification to L2F to the below comments"
My comments are relative to the arXiv:2004.12908v2 version of your paper. In your opening three paragraphs, my mind recalled the following deep learning paper when reading about systems with ‘fixed resources’. Pretty interesting paper. Simple, good idea that avoids catastrophic forgetting even as you add new tasks:

Mallya, A., D. Davis, S. Lazebnik. “Piggyback: Adapting a Single Network to Multip

[2020-08-10 03:22] jovo commented on #28
step 1: profile code.

[2020-08-11 14:29] jdey4 commented on #39
Same as #43, so deleting #43

[2020-08-11 14:29] #43 closed

[2020-08-11 14:33] jdey4 commented on #9
same as #29, so closing #29

[2020-08-11 14:33] #29 closed

[2020-08-11 14:34] jdey4 commented on #41
Same as #38, so closing #38

[2020-08-11 14:34] #38 closed

[2020-08-11 14:39] jdey4 opened #56 "Make a Jupyter notebook clearly showing the steps in the recruitment experiment."
This should be done before addressing #47 and the code to follow is: https://github.com/neurodata/progressive-learning/blob/master/experiments/recruitment_exp/experiment.py

[2020-08-11 14:41] #51 closed

[2020-08-11 14:52] jdey4 commented on #48
Using transfer learning on this covid dataset may result in a good paper: https://github.com/ieee8023/covid-chestxray-dataset.

[2020-08-11 14:54] jdey4 commented on #48
More covid data:

1. https://towardsdatascience.com/covid-19-imaging-dataset-chest-xray-ct-for-annotation-collaboration-5f6e076f5f22
2. https://aimi.stanford.edu/resources/covid19

[2020-08-11 15:01] jdey4 commented on #40
The MNIST dataset mentioned in this paper could be used: https://arxiv.org/abs/1904.07734

[2020-08-11 19:06] jovo commented on #34
some additional relevant papers:
- https://ieeexplore.ieee.org/document/1571498
- https://link.springer.com/chapter/10.1007/978-3-642-15880-3_15
- https://dl.acm.org/doi/10.1145/3054925

[2020-08-13 20:31] jovo commented on #47
this is the paper demonstrating transfer learning capabilities on this datasets
https://openaccess.thecvf.com/content_CVPR_2019/papers/Kornblith_Do_Better_ImageNet_Models_Transfer_Better_CVPR_2019_paper.pdf

[2020-08-13 20:33] jdey4 commented on #48
We can also try the datasets in this repo: https://github.com/neurodata/LLF_tidy_images and mentioned in this paper: https://openaccess.thecvf.com/content_CVPR_2019/papers/Kornblith_Do_Better_ImageNet_Models_Transfer_Better_CVPR_2019_paper.pdf.

[2020-08-17 16:28] jovo opened #59 "make "make_xor" function, probably based on "make_blobs" from sklearn"

[2020-08-17 16:29] jovo opened #60 "get to v0.1 on L2F code by merging/closing will_dev"

[2020-08-17 16:31] jovo opened #61 "re-run all the notebooks in UF"

[2020-08-17 16:32] jovo opened #62 "re-write all the UF notebooks called ProgL repo functions"

[2020-08-17 16:32] jovo opened #63 "make a docs page that links to all the notebooks"

[2020-08-17 16:33] #61 closed

[2020-08-24 18:20] jovo opened #64 "modify MORF to operate on random gabor filters"
read the chapter in deeplearningbook on gabor filters

[2020-08-24 18:22] jovo opened #65 "reproduce MORF experiments and include them as notebooks here"

[2020-09-01 15:03] jdey4 opened #66 "Show double-descent for random forest"
sample Xi from the unit square.
if Xi is better than the line going from (0,0) to (1,1), Yi=1, otherwise, Yi=0.
Now, train a decision tree on n samples from that, but restrict the size of the tree somehow, eg, setting max-level to 1, then 2, then 3, then…. all the way until each leaf node is pure.
But then, start adding more trees, with the same ‘no max level’ so they are pure.
Probably repeat the

[2020-09-01 15:22] jdey4 opened #67 "Explore induced bias(interpolation & extrapolation) phenomenon in different machine learning models."
Create xor simulation data in a way similar to the experiment: https://github.com/neurodata/progressive-learning/tree/master/experiments/xor_nxor_exp.
Let a = 0.5; sample 4 spherically symmetric gaussians at (a,a), (-a,a), (a,-a), and (-a,-a). Let sigma = something small, so essentially all of the mass lives between (-1,1)^2
Fit our various not-obvious parametric classifiers: knn, svm with RBF ker

[2020-09-02 16:27] jovo commented on #64
https://www.deeplearningbook.org/front_matter.pdf chapter in CNN is crucial learning

[2020-09-02 16:58] latasianguy commented on #49
Would like to write unit tests for UF - David Shi

[2020-09-02 17:02] bstraus1 opened #68 "document the progl repo: add the overview and documentation sections"

[2020-09-02 17:06] jovo opened #69 "test whether these things actually work on a windows machine"

[2020-09-02 17:09] bstraus1 commented on #4
Can part of this issue be assigned to me?

[2020-09-02 17:15] levinwil opened #70 "Update add_transformer hyper parameter from transformer_data_proportion to transformer_voter_split"
1. Update the call in add_task
2. Update experiments

[2020-09-02 17:18] PSSF23 commented on #41
I wish to work on the issue during my sprint 0. May I get more information about which experiments need to be modified and what standard procedures I need to follow? Thank you!

[2020-09-02 17:32] jovo commented on #4
done,  choose your part, and make a new issue, and reference this issue in it.

[2020-09-02 17:51] levinwil opened #71 "For sake of consistency, add is_fitted function to decider in files {base, decider}.py"

[2020-09-02 17:56] ykobaya9 commented on #41
Hi, I was also one of the people who wanted to work on this issue. Could I do the CIFAR dataset? Thank you!

[2020-09-02 20:07] levinwil commented on #68
Per the suggestion of some folks at Microsoft and in agreement with jovo, if possible, the documentation and overview should focus on the following two files:
1. https://github.com/neurodata/progressive-learning/blob/will_dev/proglearn/forest.py
2. https://github.com/neurodata/progressive-learning/blob/will_dev/proglearn/network.py

[2020-09-02 20:09] #44 closed

[2020-09-02 20:09] levinwil commented on #44
Closed this issue since it is a duplicate of https://github.com/neurodata/progressive-learning/issues/5

[2020-09-02 21:06] bstraus1 commented on #68
Can I be assigned to this issue? I think this connects with issue #4

[2020-09-02 21:10] bstraus1 opened #73 "document forest.py"
Per #4 and #68

[2020-09-02 21:11] bstraus1 opened #74 "document network.py"
[https://github.com/neurodata/progressive-learning/blob/will_dev/proglearn/network.py](url)
Per #4 and #68

[2020-09-02 21:22] #60 closed

[2020-09-04 04:49] ypeng22 commented on #49
Hi, is there more than 1 peron's worth of work for this issue? If so, can I be added to this? - Yu-Chung Peng

[2020-09-04 14:02] ykobaya9 opened #75 "Reproduce label_shuffle experiment"
https://github.com/neurodata/progressive-learning/issues/41

[2020-09-04 14:06] PSSF23 opened #76 "Reproduce random_class_exp in Jupyter Notebook"
Per #41, https://www.github.com/neurodata/progressive-learning/tree/master/experiments%2Frandom_class_exp.

[2020-09-04 15:03] ykobaya9 commented on #75
https://github.com/neurodata/progressive-learning/tree/master/experiments/cifar_exp

[2020-09-04 15:18] jdey4 commented on #49
@ypeng22 and @latasianguy please mention here the specific function that you want to write unit tests for and make an issue providing a link to the code. You both can choose different functions in this way.

[2020-09-05 12:39] ykobaya9 commented on #75
https://github.com/neurodata/progressive-learning/tree/master/experiments/label_shuffle

[2020-09-06 02:16] Michael-Ainsworth opened #77 "Document NeuralClassificationTransformer and TreeClassificationTransformer classes in transformers.py"
https://github.com/neurodata/progressive-learning/blob/master/proglearn/transformers.py
per issue #4

[2020-09-06 02:22] Michael-Ainsworth commented on #77
Could I be assigned this issue?

[2020-09-06 20:20] jovo opened #79 "domain adaptation"
given 2 tasks, map posteriors to each other via LDDMM.

(@jdey4 this is different from what you've been working on, though related)

[2020-09-06 20:21] jovo commented on #79
https://github.com/scikit-image/scikit-image/pull/4390 is the code for doing LDDMM.

[2020-09-06 20:35] jovo opened #80 "kernel density forests"
replaces boxcar filters with gaussians

[2020-09-06 20:49] bstraus1 commented on #4
Clarification needed: does this issue refer to commenting and adding variable/function descriptions for network.py and forest.py OR adding the overview/documentation sections on the landing page of the repository?

[2020-09-06 23:28] jdey4 commented on #4
Follow the guideline here: https://numpy.org/doc/

[2020-09-07 00:04] jshin13 opened #81 "make sure the system requirements are correct. #46"
https://github.com/neurodata/progressive-learning/issues/46

[2020-09-07 00:06] bstraus1 commented on #4
Two things:
(1) Can you elaborate on which guideline you're referring to at that link?
(2) I'd like to know whether this issue refers to commenting and adding variable/function descriptions for network.py and forest.py OR adding the overview/documentation sections on the landing page of the repository.

[2020-09-07 00:08] jshin13 commented on #46
Maybe writing something here will allow me to be added as an assignee?

[2020-09-07 00:09] #81 closed

[2020-09-07 00:15] jshin13 commented on #67
please add me as an assignee. Thank you!

[2020-09-07 08:38] zCompKid commented on #66
Hey Jayanta, I would like to work on this.

[2020-09-07 09:42] tliu68 commented on #71
Can I take this issue (assuming it's 1 person's work)? For clarification, do you mean these two files [1](https://github.com/neurodata/progressive-learning/blob/master/proglearn/base.py) & [2](https://github.com/neurodata/progressive-learning/blob/master/proglearn/transformers.py)?

[2020-09-07 21:02] ypeng22 commented on #49
Ok, I will write unit tests for all functions of TreeRegressionTransformer in /progressive-learning/tests/test_treeregression.py Is that specific enough? @jdey4

[2020-09-07 21:15] ypeng22 opened #82 "Write unit test functions for TreeClassificationVoter"
Write unit tests for all functions of TreeClassificationVoter/ located at: https://github.com/neurodata/progressive-learning/blob/master/proglearn/voters.py
in a new file called test_treeclassification under :
https://github.com/neurodata/progressive-learning/blob/master/tests/

[2020-09-07 21:18] ypeng22 commented on #49
https://github.com/neurodata/progressive-learning/issues/82
This is the issue I made, is this what you meant?

Also, I found out there are two test folders, one located at /progressive-learning/tests/
and the other located at /progressive-learning/proglearn/tests/
Is proglearn different from progressive-learning? The files in the two different directories seem to be testing files located in the sa

[2020-09-07 21:42] bstraus1 commented on #74
Is this the kind of documentation we are looking for?
<img width="388" alt="Screen Shot 2020-09-07 at 5 42 34 PM" src="https://user-images.githubusercontent.com/37525700/92417706-86792800-f131-11ea-876f-025cc0d64197.png">

[2020-09-07 22:05] jdey4 commented on #4
If that thing doesn't help, look at this repo how it handled the docs: https://github.com/neurodata/graspy

[2020-09-07 22:08] bstraus1 commented on #4
Okay, cool. And as for documenting forest.py and network.py directly, does commenting like this seem right?

![](https://user-images.githubusercontent.com/37525700/92417706-86792800-f131-11ea-876f-025cc0d64197.png)

[2020-09-07 22:17] jovo opened #83 "show that RF eventually wins"
choose a joint distribution (X,Y) that has the following property

1. when sample size is low, RF. achieves better generalization error than a specific parametric DN
2. when sample size is medium, that specific parametric DN does better than RF
3. when sample size is large, RF again does better than DN

i'm not exactly sure which (X,Y) has this property, empirically, though I would suspect lots of

[2020-09-07 22:23] levinwil opened #84 "Copy documentation of progressive_learner.py functions from will_dev to master and close will_dev."

[2020-09-07 22:26] levinwil opened #85 "Modify import statement in proglearn folder to be raw rather than relative."
This just means getting rid of the ‘.’ before the imports statement from ‘from .base ...’ in files like transformer.py

This change allows us to import the proglearn files from directories other than proglearn without running into ImportErrors.

[2020-09-07 22:41] #84 closed

[2020-09-07 22:48] #85 closed

[2020-09-07 22:52] levinwil commented on #71
Those were the files I initially referenced in the issue title. However, the second file, transformer.py, was the wrong file. I meant to say decider.py: https://github.com/neurodata/progressive-learning/blob/master/proglearn/deciders.py

[2020-09-07 22:55] #21 closed

[2020-09-07 22:56] levinwil opened #86 "Close unnecessary branches."

[2020-09-07 22:57] levinwil opened #87 "Fork current master into a regression branch and purge all regression code on master."

[2020-09-07 23:22] kaleab-k opened #88 "Run experiment on MNIST dataset"

[2020-09-08 15:18] jovo opened #89 "splitting at tree level vs. forest level"
i think our current code splits at tree level rather than forest level, is this true?
is so, can somebody explain the pro's and con's of this decision, i've forgotten.
thanks

[2020-09-08 20:13] jdey4 opened #90 "Write sims module containing all the simulation function"
Follow the sklearn API: https://scikit-learn.org/stable/modules/classes.html#samples-generator.

[2020-09-08 21:15] levinwil commented on #89
@jovo cold you please expand upon what it means to split at tree level rather than forest level? Is this referring to splitting the data into decider/voter/transformer data, or splitting trees into nodes?

[2020-09-08 21:25] levinwil opened #91 "Clean up benchmarks folder"

[2020-09-08 21:35] levinwil opened #92 "Update egg info requires.txt to match requirements.txt"
Update https://github.com/neurodata/progressive-learning/blob/master/proglearn.egg-info/requires.txt to match https://github.com/neurodata/progressive-learning/blob/master/requirements.txt

[2020-09-08 22:15] jovo commented on #89
the former

On Tue, Sep 8, 2020 at 5:15 PM Will LeVine <notifications@github.com> wrote:

Typed with thumbs

[2020-09-08 22:29] levinwil commented on #89
The process of splitting the data within a single task that uses bagging goes as follows:
1. Split off the data into decider data (if decider data is used). If there is decider data, this data is theoretically used to combine the voter outputs for a single task in some meaningful way beyond average pipelined into argmax. This data is the same across trees - the reason being it is used (in theory)

[2020-09-08 23:47] jovo commented on #89
yes, thanks

On Tue, Sep 8, 2020 at 6:29 PM Will LeVine <notifications@github.com> wrote:

--
With gratitude,

Joshua T Vogelstein, PhD
neurodata.io | BME@JHU <https://www.bme.jhu.edu/> | dA/dt > 0 > dJ/dt
<https://twitter.com/neuro_data/status/1279067902658916352>
where A = appreciating, J = judging, and t = time.
Think I can do better? Tell me how <https://forms.gle/iEad8byD89eTPdYx6>!

[2020-09-09 00:37] bstraus1 opened #95 "Add tutorial for uncertainty forests"
Create a python notebook demonstrating how to download, run, and use the uncertainty forest class.

[2020-09-09 01:41] parthgvora commented on #64
Could I be assigned this issue?

[2020-09-09 01:49] williamrxu commented on #49
Hi, I have also been looking at functions to write unit tests for. Are there specific functions that we want tested?

[2020-09-09 03:24] williamrxu opened #96 "Write unit test functions for KNNClassificationVoter"
Write unit tests for functions in the KNNClassificationVoter class from https://github.com/neurodata/progressive-learning/blob/master/proglearn/voters.py. Unit tests are drafted in https://github.com/williamrxu/progressive-learning/blob/master/tests/test_voters.py.

[2020-09-09 11:20] emilyachang opened #98 "Reproduce xor_nxor_exp in Jupyter notebook"
As described in #41, I'd like to write a tutorial for https://github.com/neurodata/progressive-learning/tree/master/experiments/xor_nxor_exp (sprint 0)

[2020-09-09 15:24] jdey4 commented on #49
@ypeng22 we want unit_tests in /progressive-learning/proglearn/tests/.

[2020-09-09 15:25] jdey4 commented on #49
@williamrxu claim a function or module and write unit_test for it.

[2020-09-09 16:39] jovo commented on #76
@jdey4 can you please show us what the answer should look like in this comment

[2020-09-09 16:45] jovo commented on #49
@latasianguy claim a function, make a new issue, reference this one. it should be clear that you are *not* completing this issue, so it does not make sense.

[2020-09-09 16:51] bstraus1 commented on #4
Issue #94 is more accurately the portion of this issue that I will be completing. May I be removed from this issue and assigned to that one?

[2020-09-09 16:52] bstraus1 commented on #73
Issue #94 is more accurately the portion of this issue that I will be completing. I've removed myself from this issue.

[2020-09-09 16:53] bstraus1 commented on #74
Issue #94 is more accurately the portion of this issue that I will be completing. I've removed myself from this issue.

[2020-09-09 16:54] bstraus1 commented on #95
May I be assigned to this issue for sprint1?

[2020-09-09 16:54] jovo commented on #67
you can sample uniformly within quadrants, rather than gaussian, if that makes things easier

[2020-09-09 16:57] jovo opened #99 "make convolutional forests"

[2020-09-09 17:10] Michael-Ainsworth commented on #99
Can I get some more info on this issue/what it might entail?

[2020-09-09 17:11] latasianguy opened #100 "Writing Unit Tests for LifelongClassificationForest"
To write unit tests for LifelongClassificationForest in [forest.py](https://github.com/neurodata/progressive-learning/blob/master/proglearn/network.py). Part of Issue #49 . Code in progress [here](https://github.com/latasianguy/progressive-learning/blob/unittest-lifelongclassificationforest/tests/test_lifelongclassificationforest.py).

[2020-09-09 17:12] jovo commented on #99
@levinwil have i told you about this previously?

[2020-09-09 17:20] jmandavilli commented on #64
Could I be assigned to this issue as well?

[2020-09-09 18:02] jshin13 commented on #67
![image](https://user-images.githubusercontent.com/52612209/92635235-784b1900-f2a3-11ea-9c13-e45da11fbce8.png)

picking up on my presentation today, I modified generate_gaussian_parity() so that when encountered with masses outside of boundary, such masses are replaced with newly generated random variables (obviously with same parameters used to generate initial masses), so regardless of what the

[2020-09-09 18:06] jdey4 commented on #41
Follow the style here: https://github.com/neurodata/hyppo/blob/master/docs/tutorials/independence/independence.ipynb

[2020-09-09 19:14] jovo opened #101 "purge all data from repo"
repo should only have code, and possibly figures, and minimal data required to reproduce the figure itself

[2020-09-09 19:16] disa-mhembere opened #102 "Repo organization suggestions"
A few things to consider:
- Generating html API docs via sphinx
- Complete install section in `README`
- Add specific versions for all packages to Dependencies and requirements.txt
- Be more specific about hardware requirements e.g. at least 4GB of RAM, 64bit OS etc
- is `.egg-info` necessary?
- populate tutorials and examples
- try to organize the repo packages to only put user facing code in the

[2020-09-09 21:31] parthgvora opened #103 "Document KNNRegressionDecider and LinearRegressionDecider in decider.py"
Fill out docstrings for KNNRegressionDecider and LinearRegressionDecider classes in decider.py.

[2020-09-09 21:43] levinwil commented on #103
@parthgvora These two functions are going to be purged from main very soon, which would make this task very confusing. Is/are there other function(s) you could document instead?

[2020-09-09 21:57] levinwil opened #105 "Add class attributes to progressive_learner.py class docstring"

[2020-09-09 21:58] parthgvora commented on #103
My bad! I picked them at random. I'll make a new ticket for some other functions.

[2020-09-09 21:58] #103 closed

[2020-09-09 21:59] levinwil commented on #103
No worries! That is our fault for having code on master that will go away. Thanks for your patience!

[2020-09-09 22:00] levinwil commented on #99
@jovo you described it from a high-level, but my understanding is not deep enough to explain to anyone else or write code in a way that would do justice to the idea

[2020-09-09 22:03] levinwil commented on #96
Hey! If possible, could you please use the following framework to write unit tests: https://docs.python.org/3/library/unittest.html

[2020-09-09 22:13] parthgvora opened #106 "Document functions in test_system.py"
Create docstrings for functions in test_system.py

[2020-09-09 22:18] #106 closed

[2020-09-10 02:34] jovo commented on #67
it won't be uniform, but it will be fine.

On Wed, Sep 9, 2020 at 2:02 PM Jong Shin <notifications@github.com> wrote:

--
With gratitude,

Joshua T Vogelstein, PhD
neurodata.io | BME@JHU <https://www.bme.jhu.edu/> | dA/dt > 0 > dJ/dt
<https://twitter.com/neuro_data/status/1279067902658916352>
where A = appreciating, J = judging, and t = time.
Think I can do better? Tell me how <https://forms.gle/i

[2020-09-10 07:17] levinwil opened #108 "Sort or purge files in the 'tests' folder"
Potentially move some of them to 'proglearn/tests' for Travis CI integration

[2020-09-10 15:06] #89 closed

[2020-09-10 15:07] #52 closed

[2020-09-10 17:27] parthgvora commented on #105
mind if I take this ticket?

[2020-09-10 17:30] jovo commented on #101
@jdey4 this should be closed when a PR is merged that removes all the data.

[2020-09-10 17:38] levinwil opened #109 "Remove TransferForest from forest.py"

[2020-09-10 17:39] levinwil commented on #105
Sure thing! Just assigned you to it. Please let me know if you have any questions.

[2020-09-10 17:41] levinwil opened #110 "Remove LifelongRegressionNetwork from network.py"

[2020-09-10 17:44] levinwil opened #111 "Change LifelongClassificationNetwork init to accept an optimizer instead of a learning rate"

[2020-09-10 17:49] levinwil opened #112 "Modify KNNClassificationVoter to default k=None and internally calculate k"
Should default to k = log2(N)

After this change, we can get rid of the setup function in NeuralClassificationNetwork

[2020-09-10 18:05] levinwil opened #114 "Add ‘add_transformer’ function to LifelongClassificationForest and LifelongClassificationNetwork"

[2020-09-10 18:11] williamrxu commented on #96
Understood!

[2020-09-10 18:40] levinwil opened #115 "Rename SimpleAverage in decider.py to SimpleArgmaxAverage and propagate changes"

[2020-09-10 18:44] levinwil opened #116 "Add L2 Interface to minimize code between L2N and L2F"

[2020-09-10 19:31] #116 closed

[2020-09-10 19:38] jdey4 commented on #101
@jovo all the data from the experiment folder is removed.

[2020-09-10 19:53] levinwil commented on #101
Once this task is finished, I think we should also add *.pickle to the 'gitignore' to prevent further additions to storing pickle files on git. Does that seem appropriate?

[2020-09-10 20:08] emilyachang commented on #33
could i be added onto this issue for sprint 1?

[2020-09-10 20:11] Ayuking commented on #48
### My plan for this issue:

- [ ] week 3, learn how to visualize data elegantly in python.

- [ ] week 4-5, learn how to collect and handle big datasets.

- [ ] week 6-9, optimize parameters and submit pull request.

- [ ] week 10-final, review and merge.

### My questions:
- Does that sound feasible? (for a python beginner)
- Do I need to compare the performance of ProgL with other algorithms?

[2020-09-10 20:48] #114 closed

[2020-09-10 20:51] #108 closed

[2020-09-10 20:51] #109 closed

[2020-09-10 20:51] #110 closed

[2020-09-10 20:51] #111 closed

[2020-09-10 20:51] #112 closed

[2020-09-10 21:11] jovo commented on #101
yup, sounds good.

On Thu, Sep 10, 2020 at 3:53 PM Will LeVine <notifications@github.com>
wrote:

--
With gratitude,

Joshua T Vogelstein, PhD
neurodata.io | BME@JHU <https://www.bme.jhu.edu/> | dA/dt > 0 > dJ/dt
<https://twitter.com/neuro_data/status/1279067902658916352>
where A = appreciating, J = judging, and t = time.
Think I can do better? Tell me how <https://forms.gle/iEad8byD89eTPdYx6>!

[2020-09-10 21:12] jovo commented on #101
ok, link to the PR corresponding to removing everything when you close this then.

[2020-09-10 22:25] #87 closed

[2020-09-10 22:28] levinwil opened #118 "Kernel Density Forests"
Overall Idea: To smooth posteriors, train a kernel density estimate on the means of each class within each leaf node.

Goals:
1. Compare this to the calibration of empirical posteriors, ideally to have more smooth and calibrated posteriors from UF
2. Use this KDE to get posteriors within leaf nodes of L2F transformers. These KDEs will be voters that (ideally) have more smooth and calibrated poster

[2020-09-10 22:56] p-teng commented on #33
https://arxiv.org/abs/1706.09516
Also interested in this issue!

[2020-09-10 23:30] jovo commented on #33
will somebody let me know whether the binning idea is in fact in that paper?

On Thu, Sep 10, 2020 at 6:56 PM p-teng <notifications@github.com> wrote:

--
With gratitude,

Joshua T Vogelstein, PhD
neurodata.io | BME@JHU <https://www.bme.jhu.edu/> | dA/dt > 0 > dJ/dt
<https://twitter.com/neuro_data/status/1279067902658916352>
where A = appreciating, J = judging, and t = time.
Think I can do better?

[2020-09-11 00:34] bstraus1 commented on #80
Can I be assigned this issue for sprint1?

[2020-09-11 00:40] p-teng commented on #33
From what I've read so far, CatBoost is their name for the combination of ordered boosting (their modification to standard gradient boosting) and a modified procedure for processing categorical features, so it appears that binning isn't the ![main idea](https://user-images.githubusercontent.com/54685205/92832561-cc3e2680-f3a5-11ea-96c6-5b48dff5c13b.png) of the paper.

[2020-09-11 01:16] jovo commented on #33
oh right! ok, the correct paper to read for this is LightGBM:
https://papers.nips.cc/paper/6907-lightgbm-a-highly-efficient-gradient-boosting-decision-tree.pdf

the Catboost paper has another cool idea called 'folding', which brings
forests and deep nets 1 step closer together, also very cool.
maybe one of you can work on folding, and the other on binning?

On Thu, Sep 10, 2020 at 8:41 PM p-teng <

[2020-09-11 03:16] jovo commented on #118
I don't really understand your goals, they do not seem to be SMART.

goals:

1. write down the math of what we are trying to do
2. write down pseudocode for how you'd do it
3. implement it,
4. demonstrate that it works using 1 tree and like 4 samples
5. reproduce fig 1 from UF, but adding Kernel Density Forests

[2020-09-11 03:17] jovo commented on #80
sorry, this is a double one, it was also here: https://github.com/neurodata/progressive-learning/issues/118
and already taken :(
We can talk tomorrow after class if you want.

[2020-09-11 03:17] #80 closed

[2020-09-11 03:21] levinwil commented on #80
@jovo could I be part of the conversation that you have tomorrow after class?

[2020-09-11 03:32] jovo commented on #80
yes please!

On Thu, Sep 10, 2020 at 11:21 PM Will LeVine <notifications@github.com>
wrote:

--
With gratitude,

Joshua T Vogelstein, PhD
neurodata.io | BME@JHU <https://www.bme.jhu.edu/> | dA/dt > 0 > dJ/dt
<https://twitter.com/neuro_data/status/1279067902658916352>
where A = appreciating, J = judging, and t = time.
Think I can do better? Tell me how <https://forms.gle/iEad8byD89eTPdYx6>!

[2020-09-11 08:40] chenyugoal commented on #115
May I take this issue?

[2020-09-11 14:55] jdey4 commented on #101
@jovo  I was directly committing to the master. I added '*.pickle' to the .gitignore already and all the pickle files were removed.

[2020-09-11 14:59] jdey4 opened #121 "Add sphinx for the docs."

[2020-09-11 15:00] jdey4 opened #122 "Add one unit_test so that travis works."

[2020-09-11 15:12] jovo commented on #101
please stop. committing to master. that goes to everybody.  time to get
better github practices starting today please.

On Fri, Sep 11, 2020 at 10:56 AM Jayanta Dey <notifications@github.com>
wrote:

--
With gratitude,

Joshua T Vogelstein, PhD
neurodata.io | BME@JHU <https://www.bme.jhu.edu/> | dA/dt > 0 > dJ/dt
<https://twitter.com/neuro_data/status/1279067902658916352>
where A = appreciating, J

[2020-09-11 15:45] mkusman1 opened #123 "Reproduce label shuffle experiment in Jupiter Notebook"
For sprint 0, issue [#41](https://github.com/neurodata/progressive-learning/issues/41),
Tutorial for [lable shuffle](https://github.com/neurodata/progressive-learning/tree/master/experiments/label_shuffle) (sprint 0) in Jupitor notebook
@jdey4

[2020-09-11 15:49] jovo opened #124 "use UF to generate independence test directly"
@sampan501 please assign to rebecca and let her know.

[2020-09-11 16:02] parthgvora commented on #105
What exactly do you mean by class attributes? and I assume I just match the format of the current docstring in the file?
Thanks!

[2020-09-11 16:03] levinwil commented on #105
Class attributes are member variables of classes. Here is a stack overflow response about documenting class attributes: https://stackoverflow.com/questions/28437869/how-should-i-document-class-and-object-attributes-using-numpys-style

[2020-09-11 16:04] levinwil opened #125 "Add class attributes to UF class docstring"
Please see #105 for further details and tips. This is in regards to the forest.py file.

[2020-09-11 16:19] #46 closed

[2020-09-11 16:23] mkusman1 commented on #47
I would want to do this issue for sprint 1. Is it still not assigned?

[2020-09-11 16:30] jovo opened #126 "make a single example unit test"

[2020-09-11 16:31] jovo opened #127 "update workflow so that nobody can directly merge into master"
@jdey4 please do this one asap, prior even to dealing with paper revisions.

[2020-09-11 16:33] jovo opened #128 "make contribution guidelines"
we gotta get this done asap, prior to making any further changes to the code please.
you can see grapy's version as a place to start.

[2020-09-11 16:36] jovo commented on #33
see https://github.com/neurodata/progressive-learning/issues/24

[2020-09-11 16:39] jovo commented on #79
@tliu68 you want this, right?

[2020-09-11 16:42] tliu68 commented on #79
@jovo yes, please

[2020-09-11 16:42] RebeccaYin7 commented on #124
@jovo yup!

[2020-09-11 16:53] levinwil commented on #126
@jovo What do you mean by 'single example'?

[2020-09-11 16:56] jovo commented on #126
just any unit test, so people know what a unit test looks like for this
repo.

On Fri, Sep 11, 2020 at 12:53 PM Will LeVine <notifications@github.com>
wrote:

--
With gratitude,

Joshua T Vogelstein, PhD
neurodata.io | BME@JHU <https://www.bme.jhu.edu/> | dA/dt > 0 > dJ/dt
<https://twitter.com/neuro_data/status/1279067902658916352>
where A = appreciating, J = judging, and t = time.
Think I can do

[2020-09-11 16:57] levinwil commented on #126
Do you want it to be a unit test or a system test?

[2020-09-11 17:02] jovo commented on #126
see issue title

On Fri, Sep 11, 2020 at 12:57 PM Will LeVine <notifications@github.com>
wrote:

--
With gratitude,

Joshua T Vogelstein, PhD
neurodata.io | BME@JHU <https://www.bme.jhu.edu/> | dA/dt > 0 > dJ/dt
<https://twitter.com/neuro_data/status/1279067902658916352>
where A = appreciating, J = judging, and t = time.
Think I can do better? Tell me how <https://forms.gle/iEad8byD89eTPdYx6>!

[2020-09-11 17:34] levinwil commented on #126
Just made a pull request at the following link: https://github.com/neurodata/progressive-learning/pull/129

[2020-09-11 17:43] #126 closed

[2020-09-11 18:17] jovo opened #131 "make a tutorial illustrating the posteriors for XOR & R-XOR"
i think you did this, just i don't know where it is.

[2020-09-11 18:52] levinwil opened #132 "Add egg-info to the git ignore and purge all egg-info files"
Make sure files from the egg-info folder don't get uploaded to git

[2020-09-11 21:02] levinwil opened #133 "Sort proglearn/sims into appropriate directory"
Perhaps does it belong in proglearn/tests?

[2020-09-11 21:03] #122 closed

[2020-09-11 21:04] levinwil commented on #90
When doing so, please follow the suggestions of Issue #59 and/or ask me for help/suggestions

[2020-09-11 21:05] levinwil opened #134 "Rename _get_split_idxs and propagate changes"
This function merely separates the decider data indices from the transformer/voter data indices.

[2020-09-11 21:40] levinwil opened #136 "Add 'Quick Links' to CONTRIBUTING.md (or get rid of CONTRIBUTING.md)"
Use https://github.com/neurodata/hyppo/blob/master/CONTRIBUTING.md as an example

[2020-09-11 23:57] levinwil opened #138 "Unify usage of "ProgLearn" and Upload to PyPi"
- [x] Change mentions in docs
- [x] Change mentions in README
- [x] Upload to PyPi
- [x] Change Github repo name
- [x] Change codecov endpoint
- [x] Change Travis endpoint

[2020-09-12 10:00] jshin13 commented on #67
![KNN](https://user-images.githubusercontent.com/52612209/92992912-3cd76700-f4bc-11ea-9283-703ab8820810.png)
fig1: [-1, 1] simulation data
fig2: KNN trained on [-1, 1] simulation data; predicting on the same simulation data
fig3: [-2, 2] simulation data
fig4: prediction on [-2, 2] simulation by KNN trained on [-1, 1] simulation

Before I continue, I just wanted to confirm with @jovo, @jdey4 if thi

[2020-09-13 00:12] jmandavilli opened #139 "Add documentation for voters.py"

[2020-09-13 09:03] levinwil opened #141 "Substitute ‘ProgL’ for ‘hyppo’ in docs/contributing.rst"

[2020-09-13 09:08] levinwil opened #142 "Modify progressive_learner class to be task-agnostic and subclass into classification_progressive_learner"
The progressive learner class should be general and be a concrete class of the progressive learner interface. We should have a separate concrete class for ClassificationProgressiveLearner that subclasses off of the ProgressiveLearner class and adds the ‘predict_proba’ functionality.

[2020-09-13 09:09] levinwil opened #143 "Modify all classes in base to always preface the class name with ‘Base’"

[2020-09-13 09:10] levinwil opened #144 "Type check transformers, voters, and deciders"
Make sure the correct classes are fed to the progressive learner (voters are voters, transformers are transformers, etc.). Use python argument types. Also make sure that classification deciders and voters are fed to classification progressive learners.

[2020-09-13 09:11] #132 closed

[2020-09-13 09:12] #92 closed

[2020-09-13 09:12] #86 closed

[2020-09-13 20:10] levinwil opened #145 "Rename ‘predict’ in deciders.py and {Base, Classification}Decider class of base.py to be called ‘decide’"
Also update 'predict_proba' to 'decide_proba'

[2020-09-13 21:40] PSSF23 commented on #99
@jovo I am interested in working on this issue as my Sprint 1 and open to forming teams.

[2020-09-14 02:03] RebeccaYin7 commented on #74
@jdey4 can I please be assigned to this issue? thanks.

[2020-09-14 04:30] jovo commented on #67
looks good. see if you can draw posterior probabilities, or partitions of
the feature space.

On Sat, Sep 12, 2020 at 6:01 AM Jong Shin <notifications@github.com> wrote:

--
With gratitude,

Joshua T Vogelstein, PhD
neurodata.io | BME@JHU <https://www.bme.jhu.edu/> | dA/dt > 0 > dJ/dt
<https://twitter.com/neuro_data/status/1279067902658916352>
where A = appreciating, J = judging, and t = time.
Thi

[2020-09-14 08:47] jshin13 commented on #67
![KNN](https://user-images.githubusercontent.com/52612209/93063960-fa8d6180-f644-11ea-8d8e-6078a46e2ce4.png)
Is this something you are looking for, @jovo, @jdey4?

[2020-09-14 13:30] jovo commented on #67
yah!

On Mon, Sep 14, 2020 at 4:47 AM Jong Shin <notifications@github.com> wrote:

--
With gratitude,

Joshua T Vogelstein, PhD
neurodata.io | BME@JHU <https://www.bme.jhu.edu/> | dA/dt > 0 > dJ/dt
<https://twitter.com/neuro_data/status/1279067902658916352>
where A = appreciating, J = judging, and t = time.
Think I can do better? Tell me how <https://forms.gle/iEad8byD89eTPdYx6>!

[2020-09-14 14:25] p-teng commented on #73
@jdey4 Could I be assigned to this issue for sprint 0?

[2020-09-14 14:34] bstraus1 commented on #74
@RebeccaYin7 It is probably best to choose a function within network.py, make a sub-issue, then get assigned that.

[2020-09-14 14:36] #76 closed

[2020-09-14 14:41] RebeccaYin7 opened #150 "document LifelongClassificationNetwork class in network.py"
https://github.com/neurodata/progressive-learning/blob/master/proglearn/network.py
per issue [#4](https://github.com/neurodata/progressive-learning/issues/4)

[2020-09-14 14:42] RebeccaYin7 commented on #150
Can I be assigned to this issue?

[2020-09-14 14:46] RebeccaYin7 commented on #74
@bstraus1 sounds good. I've created issue [#150](https://github.com/neurodata/progressive-learning/issues/150).

[2020-09-14 14:55] jdey4 commented on #101
@jovo all the data are purged. I am sorry that I failed to make a PR. Should we close this issue?

[2020-09-14 15:01] jdey4 commented on #67
@jong here the true pdf was calculated: https://github.com/jdey4/progressive-learning/blob/master/replaying/result/figs/true_pdf.pdf. I am going to replicate it in the current repo. @jovo correct me if I am wrong. The goal is to check the difference between true and estimated pdf. And to get the estimated pdf, you need to iterate over the leaves to know their bounds and posteriors.

[2020-09-14 15:22] jovo commented on #101
yes

On Mon, Sep 14, 2020 at 10:55 AM Jayanta Dey <notifications@github.com>
wrote:

--
With gratitude,

Joshua T Vogelstein, PhD
neurodata.io | BME@JHU <https://www.bme.jhu.edu/> | dA/dt > 0 > dJ/dt
<https://twitter.com/neuro_data/status/1279067902658916352>
where A = appreciating, J = judging, and t = time.
Think I can do better? Tell me how <https://forms.gle/iEad8byD89eTPdYx6>!

[2020-09-14 15:24] jovo commented on #67
the goal is to look at the posterior in the expanded space using
different algorithms.

On Mon, Sep 14, 2020 at 11:01 AM Jayanta Dey <notifications@github.com>
wrote:

--
With gratitude,

Joshua T Vogelstein, PhD
neurodata.io | BME@JHU <https://www.bme.jhu.edu/> | dA/dt > 0 > dJ/dt
<https://twitter.com/neuro_data/status/1279067902658916352>
where A = appreciating, J = judging, and t = time.
Think

[2020-09-14 16:21] srahul1222 opened #151 "Reproduce rotation_cifar experiment with Jupyter Notebook tutorial"
Writing a tutorial for [rotation_cifar](https://github.com/neurodata/progressive-learning/tree/master/experiments/rotation_cifar) (sprint 0)

Based on issue #41

[2020-09-14 16:24] srahul1222 commented on #151
@jdey4 @sampan501

[2020-09-14 16:36] srahul1222 commented on #48
Seeing as how no one has been assigned to this issue yet, can I still take on this issue for my Sprint 1?

If Chenyu is also interested in this, can we create two separate issues for this and try running the algorithms on two different datasets?

[2020-09-14 16:40] sampan501 commented on #48
sure that is fine. I think that is a reasonable amount of work and if you finish you can just run on another data set

[2020-09-14 18:01] p-teng opened #152 "Write documentation for LifelongClassificationForest class in forest.py"
To write documentation for [forest.py](https://github.com/neurodata/progressive-learning/blob/master/proglearn/forest.py)

[2020-09-14 18:21] levinwil opened #153 "Change decider {class, kwargs} selection process in set_decider to follow set_voter example"
This is in the progressive_learner.py file

[2020-09-14 18:50] chenyugoal commented on #48
Glad you join! We can share information under this issue, when searching and collecting datasets. That will accelerate our work I think. @srahul1222

[2020-09-14 19:08] #153 closed

[2020-09-14 19:26] levinwil commented on #125
@bstraus1 Given that you documented UncertaintyForest, could you please do this at your soonest convenience?

[2020-09-14 19:50] bstraus1 commented on #125
Will do! One question: What are the attributes that are specifically tied to the class?

[2020-09-14 19:52] levinwil commented on #125
Any variable that begins with 'self.' in any of the UncertaintyForest functions

[2020-09-14 20:12] parthgvora commented on #105
Hi @levinwil !

I've submitted a pull request to complete this issue. However, I can't seem to request reviews or link issues to my PR. Could you please help me out and review my changes when you find time? Thanks!

https://github.com/neurodata/progressive-learning/pull/155

[2020-09-14 20:13] levinwil commented on #105
Yup! I just saw your PR and commented. Could you please make the changes I suggested? I'll approve it right after

[2020-09-14 20:14] parthgvora commented on #105
Awesome, thanks!

I'll make the changes and commit again.

[2020-09-15 00:45] levinwil opened #156 "Move transformer_voter_decider_split from a hyperparam of add_task in LifelongClassificationNetwork to an initialization pameter"

[2020-09-15 00:46] levinwil opened #157 "Add 'SimpleProgressiveLearner' interface to base.py from which LifelongClassification{Network, Forest} subclass"

[2020-09-15 01:39] latasianguy opened #158 "Document deciders.py"
Writing documentation for [deciders.py](https://github.com/neurodata/progressive-learning/blob/master/proglearn/deciders.py). Part of issue #4 . Code in progress [here](https://github.com/latasianguy/progressive-learning/blob/documentation-deciders.py/proglearn/deciders.py).

[2020-09-15 01:46] #125 closed

[2020-09-15 01:54] levinwil opened #160 "Add method signatures to ProgressiveLearner class docstring"

[2020-09-15 01:54] levinwil opened #161 "Add method signatures to base class docstrings"

[2020-09-15 02:11] bstraus1 commented on #95
Approach [plan](https://docs.google.com/document/d/1BVXmwJWIdK97N2HLWBOn3IDQ7o3WTrO1d14mew4c4eQ/edit) for the issue:

Make notebooks creating tutorials for the following:
- [ ] Installation: Write a python notebook explaining how to install the Progressive-learning repo on a local machine
- [ ] Package Setup: Write a python notebook explaining how to (1) create a virtual environment (2) install re

[2020-09-15 02:38] levinwil commented on #95
@bstraus1 This is awesome! Thanks for going the extra mile with the planning 👍

[2020-09-15 04:08] Michael-Ainsworth commented on #83
Could I hear a bit more about this issue? Would this be related to a specific paper? Thank you!

[2020-09-15 04:32] jshin13 commented on #67
![KNN](https://user-images.githubusercontent.com/52612209/93164569-d171dd00-f6e7-11ea-9fe5-00eddba8c0d1.png)
Thank you, @jdey4 for taking your time to help me understand this today! As you suggested, I computed the actual posterior using predict_proba() and the outputs are plotted as figures 5 and 6.

To clarify myself for @jovo,

fig2 is the KNN trained on the [-1,1] toy data predicting on the sa

[2020-09-15 05:22] ypeng22 commented on #99
Hi, I'm also interested in this issue. Could I know more about this?

[2020-09-15 06:54] levinwil commented on #59
Closing this issue per PR #163

[2020-09-15 06:55] #59 closed

[2020-09-15 10:17] EYezerets commented on #95
@bstraus1 Looks good to me! Thanks!

[2020-09-15 12:19] jdey4 commented on #127
The settings have been updated, Travis has been fixed, and one needs at least one review to get one's PR merged.

[2020-09-15 12:19] #127 closed

[2020-09-15 12:20] #128 closed

[2020-09-15 12:24] jdey4 commented on #67
@jshin13 do not subtract anything to show the posteriors. Use divergent colormap as here: https://github.com/jdey4/progressive-learning/blob/master/replaying/xor_nxor_pdf.py

[2020-09-15 15:03] jdey4 commented on #121
Addressed here: https://github.com/neurodata/progressive-learning/pull/135

[2020-09-15 15:03] #121 closed

[2020-09-15 15:04] #101 closed

[2020-09-15 15:06] jdey4 opened #166 "Add codecov to the repo"

[2020-09-15 17:54] jshin13 commented on #67
![KNN](https://user-images.githubusercontent.com/52612209/93246133-51d12600-f75a-11ea-9008-109513e81911.png)
@jdey4 hey Jayanta, I corrected the colormap scale. Just to clarify, the subtraction was to change the scale from [0,1] to [-1,1], not to normalize the colormap. I'm actually using a divergent colormap(RdBu_r) here. But, obviously negative scale is incorrect, and for that, thank you for you

[2020-09-15 18:52] levinwil opened #169 "Add license badge to repo"

[2020-09-15 19:09] levinwil commented on #169
Closing per pull request #170

[2020-09-15 19:11] #169 closed

[2020-09-15 21:23] jdey4 opened #171 "Change license to MIT"

[2020-09-15 21:41] #171 closed

[2020-09-16 00:46] Michael-Ainsworth commented on #83
In addition, could I be added to this issue?

[2020-09-16 01:17] #131 closed

[2020-09-16 01:35] jdey4 commented on #67
@jshin13 I calculated the true distribution here. You can see: https://github.com/neurodata/progressive-learning/blob/master/experiments/sim_pdf/XOR_pdf.ipynb

[2020-09-16 03:50] #150 closed

[2020-09-16 04:47] jmandavilli commented on #139
I created a PR for this issue: https://github.com/neurodata/progressive-learning/pull/175

[2020-09-16 14:28] mkusman1 opened #178 "Package installation error"
I am currently working on writing a tutorial for the label shuffle experiment and was wondering if anyone encountered this issue:
I get this error: from .base import <....> ImportError: attempted relative import with no known parent package jupiter.
Moreover,  for some reason python3 setup.py install does not work (screenshots attached)

I am using Jupiter notebook in Anaconda3 on Windows 10, Pyth

[2020-09-16 14:28] mkusman1 commented on #178
@jdey4 @sampan501

[2020-09-16 14:29] mkusman1 commented on #178
I was using conda powershell and I believe it already uses virtual environment

[2020-09-16 14:31] sampan501 commented on #178
what happens when you write `python --version`

[2020-09-16 14:32] mkusman1 commented on #178
It outputs: Python 3.8.3
Should I downgrade Python to 3.6 v?

[2020-09-16 14:33] mkusman1 commented on #178
I also ran pip freeze and there is no proglearn package

[2020-09-16 14:33] PSSF23 commented on #178
The codes are outdated. It should be `proglearn.progressive_learner` instead of `progressive_learner`

[2020-09-16 14:35] mkusman1 commented on #178
I think it resolves the issue partially. But I still can't download the package.
![image](https://user-images.githubusercontent.com/69170008/93351901-1af91f80-f7ef-11ea-8d28-a41244bba1f7.png)

[2020-09-16 14:36] PSSF23 commented on #178
Check out the current version of label_shuffle experiment: https://github.com/neurodata/progressive-learning/blob/master/experiments/label_shuffle/label_shuffle_exp.py

[2020-09-16 14:36] PSSF23 commented on #178
try `import proglearn`

[2020-09-16 14:37] jdey4 commented on #178
@mkusman1 if you can't install the package, the problem will not be solved.

[2020-09-16 14:38] mkusman1 commented on #178
I tried to import it but it doesn't work

[2020-09-16 14:38] PSSF23 commented on #178
please show the screenshot.

[2020-09-16 14:41] mkusman1 commented on #178
I think the issue now is installing the package itself
![image](https://user-images.githubusercontent.com/69170008/93352720-fd788580-f7ef-11ea-8d9c-f69ff390d0d1.png)

[2020-09-16 14:42] mkusman1 commented on #178
@PSSF23 Also, how come my version of label_shuffle_exp.py is outdated? I used github desktop today to clone the repo on my computer

[2020-09-16 14:44] PSSF23 commented on #178
@mkusman1 maybe you cloned your fork instead of the newest ndd master branch. Jayanta updated the experiment files recently.

[2020-09-16 14:45] mkusman1 commented on #178
@PSSF23 It was a master branch, I just doublechecked. Thats weird

[2020-09-16 14:45] sampan501 commented on #178
Did you `git pull` recently?

[2020-09-16 14:47] mkusman1 commented on #178
@sampan501  I did it today

[2020-09-16 14:48] PSSF23 commented on #178
@mkusman1 Let's try to solve the package problem first, try `pip list` and see if you have `proglearn` or `setuptools`? Also `pip --version` to see which version of python it is associated.

[2020-09-16 14:49] jdey4 commented on #178
There is another way around. Install the dependencies separately and use relative import like from .proglearn import SimpleAverage. But the installation problem must be solved.

[2020-09-16 14:52] mkusman1 commented on #178
pip list output:
setuptools   49.2.0.post20200714
no proglearn

pip --version output:
pip 20.1.1 from C:\Users\MK\anaconda3\lib\site-packages\pip (python 3.8)

[2020-09-16 14:52] mkusman1 commented on #178
@jdey4  I am sorry, I don't quite understand what you mean by "Install the dependencies separately and use relative import like from .proglearn import SimpleAverage"

[2020-09-16 14:54] jdey4 commented on #178
We can avoid installing the proglearn package. If you have all the required packages like tensorflow and others installed, you can tell the compiler the path from where to import the modules.

[2020-09-16 15:21] mkusman1 commented on #178
@jdey4  So it is not possible to install the package in another way?

[2020-09-16 15:31] PSSF23 opened #179 "Update license section in setup.py"
The "license" section of [`setup.py`](https://github.com/neurodata/progressive-learning/blob/master/setup.py) still shows "Apache 2.0" and needs to be updated.

[2020-09-16 15:33] mkusman1 commented on #178
@jdey4 @sampan501
pip freeze output:
proglearn==0.0.1

I made a change in setup file. There was an encoding issue:
with open("README.md", encoding="utf8") as f:
    LONG_DESCRIPTION = f.read()

[2020-09-16 15:37] levinwil commented on #179
Great catch! Just made pull request #180

[2020-09-16 15:37] sampan501 commented on #178
it should be fine as a temporary fix. I'm going to leave this issue open for further investigation

[2020-09-16 15:39] #179 closed

[2020-09-16 16:45] williamrxu commented on #96
Closed per PR #165

[2020-09-16 17:05] #139 closed

[2020-09-16 17:09] latasianguy commented on #100
@jdey4, should I write more unit tests for this? I only checked that the setup/initialization for the class is correct

[2020-09-16 17:31] levinwil commented on #123
@mkusman1 why is this closed? Do you have a link to the label shuffle tutorial in a Jupiter notebook?

[2020-09-16 17:35] levinwil commented on #123
duplicate issue of #75

[2020-09-16 17:35] #123 closed

[2020-09-16 17:39] parthgvora commented on #105
Hi Will - could you close this issue since we merged the PR?

[2020-09-16 17:40] levinwil commented on #105
Yup!

[2020-09-16 17:40] #105 closed

[2020-09-16 17:53] levinwil commented on #96
@williamrxu This issue appears to be completed, as per the files you linked above. Do you think it would be appropriate for me to close this issue?

[2020-09-16 17:55] williamrxu commented on #96
Yes, this issue is ready to be closed.

[2020-09-16 17:56] #96 closed

[2020-09-16 18:36] #134 closed

[2020-09-16 21:13] jdey4 opened #183 "Add spiral simulation in the sims module"
Follow the code here: https://github.com/neurodata/progressive-learning/blob/master/experiments/xor_rxor_spiral_exp/spiral_exp.py

[2020-09-16 21:14] jdey4 opened #184 "Add figure 3 from the draft as a tutorial in the experiment folder."

[2020-09-17 01:48] latasianguy commented on #40
Can I be added to this issue?

[2020-09-18 16:08] jovo commented on #83
https://www.biorxiv.org/content/10.1101/2020.04.29.068460v2

makes the point a little, we'll probably need simulation data for the streams to cross

[2020-09-18 16:14] Michael-Ainsworth commented on #77
@jdey4 , my pull request was merged! Could this issue be closed?

[2020-09-18 16:16] bstraus1 opened #185 "Subtask of Issue 95: Write installation tutorial notebook for UncertaintyForest"
See #95

[2020-09-18 16:16] bstraus1 opened #186 "Subtask of Issue 95: Write package setup tutorial notebook for UncertaintyForest"
See #95

[2020-09-18 16:17] bstraus1 opened #187 "Subtask of Issue 95: Write data setup tutorial notebook for UncertaintyForest"
See #95

[2020-09-18 16:18] bstraus1 opened #188 "Subtask of Issue 95: Write running tutorial notebook for UncertaintyForest"
See #95

[2020-09-18 16:18] bstraus1 opened #189 "Subtask of Issue 95: Write analyzing tutorial notebook for UncertaintyForest"
See #95

[2020-09-18 18:55] levinwil opened #192 "Fix line 69 deciders.py bug"
Voters are outputting different length posteriors since some voter are given a subset of the classes

[2020-09-19 04:12] #115 closed

[2020-09-19 04:13] #71 closed

[2020-09-19 04:16] #157 closed

[2020-09-20 21:56] levinwil opened #201 "Switch proglearn/tests to use Pytest instead of unittest"

[2020-09-20 21:56] levinwil opened #202 "Figure out if codecov.yml is necessary (and purge if it isn't)"

[2020-09-20 22:01] levinwil commented on #166
Closing per PR #199

[2020-09-20 22:01] #166 closed

[2020-09-20 22:29] #141 closed

[2020-09-20 22:43] levinwil opened #206 "Update README and docs/index.rst to follow hyppo style"
https://github.com/neurodata/hyppo

[2020-09-20 22:59] levinwil opened #207 "Add tests for proglearn/sims"
These tests should be placed in a new folder called proglearn/sims/tests

[2020-09-21 00:40] jdey4 commented on #40
I thought Kaleab was doing it for his sprint 0.

[2020-09-21 00:54] latasianguy commented on #40
Ok, I didn't see a link back to this

[2020-09-21 00:54] levinwil commented on #201
Closing per PR #204

[2020-09-21 00:56] levinwil opened #211 "Make sure code coverage report ignores proglearn/base.py"

[2020-09-21 01:27] #201 closed

[2020-09-21 01:29] #211 closed

[2020-09-21 12:27] #161 closed

[2020-09-21 13:33] #184 closed

[2020-09-21 14:36] jdey4 opened #218 "Produce figure 4 of the draft with similar architecture for the neural network algos."

[2020-09-21 14:53] levinwil commented on #143
Closing per PR #182

[2020-09-21 14:53] #143 closed

[2020-09-21 14:55] levinwil commented on #144
Closing as this seems a bit unnecessary

[2020-09-21 14:55] #144 closed

[2020-09-21 19:06] latasianguy commented on #5
Can I be assigned to this issue?

[2020-09-22 02:26] emilyachang commented on #24
@jovo @jdey4 could i get more information on this issue? the catboost paper seems to just use 5-fold cv to choose test statistics, so i was wondering if there were specific folding functionalities that you'd like to see implemented.

[2020-09-22 03:25] jovo commented on #24
talk to will

On Mon, Sep 21, 2020 at 10:27 PM emilyachang <notifications@github.com>
wrote:

--
With gratitude,

Joshua T Vogelstein, PhD
neurodata.io | BME@JHU <https://www.bme.jhu.edu/> | dA/dt > 0 > dJ/dt
<https://twitter.com/neuro_data/status/1279067902658916352>
where A = appreciating, J = judging, and t = time.
How can I do better? <https://forms.gle/iEad8byD89eTPdYx6>

[2020-09-22 05:43] srahul1222 opened #223 "Run progressive learning algorithms on COVID-19 dataset"
Sprint 1:
Transfer learning will be applied to [this dataset](https://github.com/ieee8023/covid-chestxray-dataset), a public collection of chest X-ray and CT images from patients who tested positive for COVID-19.

[2020-09-22 05:44] srahul1222 commented on #223
@jdey4 @sampan501

[2020-09-22 07:07] #185 closed

[2020-09-22 07:07] #186 closed

[2020-09-22 23:24] levinwil commented on #118
For those interested in following this issue, I am working Kernel Density Graphs (the general form of Kernel Density Forests, which also includes Kernel Density Networks) in the following repository: https://github.com/levinwil/KernelDensityGraphs

[2020-09-23 00:23] levinwil opened #226 "Modify Classification {Voters, Deciders} to follow scikit-learn {ClassifierMixin, BaseEstimator} API's"
Guide on how to comply a class with a scikit-learn API: https://sklearn-template.readthedocs.io/en/latest/user_guide.html

ClassifierMixin docs: https://scikit-learn.org/stable/modules/generated/sklearn.base.ClassifierMixin.html#sklearn.base.ClassifierMixin

BaseEstimator docs: https://scikit-learn.org/stable/modules/generated/sklearn.base.BaseEstimator.html#sklearn.base.BaseEstimator

**BaseEstim

[2020-09-23 00:25] levinwil opened #227 "Modify Transformers to follow scikit-learn {TransformerMixin, BaseEstimator} API's"
TransformerMixin docs: https://scikit-learn.org/stable/modules/generated/sklearn.base.TransformerMixin.html#sklearn.base.TransformerMixin

Guide on how to do so: https://sklearn-template.readthedocs.io/en/latest/user_guide.html

Please see the description of Issue #226 for further instructions, tips, and information.

Honestly, this is super simple. It's just changing the name of 'BaseTransformer'

[2020-09-23 02:14] emilyachang commented on #226
Could I be added onto this issue for Sprint 1? @jdey4

[2020-09-23 02:40] levinwil commented on #145
Decided (no pun intended) against this per Issue #226

@hhelm10 I thought you might be glad to hear of this change :)

[2020-09-23 02:40] #145 closed

[2020-09-23 03:30] levinwil commented on #192
Please talk to Yuta about reproducing the error. The simple description of the issue is that voters are outputting posteriors of different lengths because some voters only see a subset of the classes in their fit function (due to random chance in the sampling). So, the easy solution is:
1. In the progressive learner, whenever you add a task, figure out the unique label values (using np.unique). Fe

[2020-09-23 03:50] PSSF23 commented on #34
Interested in this issue for Sprint 1. Proposed DoD: Allow transformers to use streaming data for training.

[2020-09-23 05:14] #227 closed

[2020-09-23 05:40] Michael-Ainsworth commented on #83
Current plan for issue:

- [ ] Create experiment classes which input RF parameters and DN parameters/model architecture
- [ ] Expand experiment classes to include intuitive visualizations to show the effect of sample size on each model
- [ ] Design separate tutorial notebook for testing distributions
- [ ] Identify distributions that best demonstrate hypothesis

Goal: Observe RF winning with large

[2020-09-23 07:09] ypeng22 opened #231 "Reproduce Conv-rf experiments"
Try to run conv-rf on fashion-mnist dataset as detailed in:
https://github.com/tpsatish95/deep-conv-rf/tree/master/experiments/results/fashion_mnist/0vs3/10_to_100
Specifically the test with 0 vs 3 and 0_to_100 parameters for labels and training samples respectively. Will not re-run non conv-rf models.

[2020-09-23 13:19] tliu68 commented on #79
experiments to run:

- [ ] run (multitask) vary_task_sample exp on original CIFAR10 data w/ lddmm and compare results to those w/ cross-task

- [ ] map original & rotated CIFAR10 data w/ lddmm and compare results to non-adversarial case

[2020-09-23 17:11] bstraus1 commented on #187
Can I be assigned to this issue?

[2020-09-23 17:11] bstraus1 commented on #95
Can I be assigned to this issue?

[2020-09-23 17:11] bstraus1 commented on #188
Can I be assigned to this issue?

[2020-09-23 17:11] bstraus1 commented on #189
Can I be assigned to this issue?

[2020-09-23 17:11] bstraus1 commented on #185
Can I be assigned to this issue? (post-closing)

[2020-09-23 17:12] bstraus1 commented on #186
Can I be assigned to this issue? (post-closing)

[2020-09-23 17:12] bstraus1 commented on #125
Can I be assigned to this issue? (post-closing)

[2020-09-23 17:44] jshin13 commented on #67
@jovo, after reviewed by @jdey4 today, I am sharing the results from the spiral experiment. Here, one thing I want to confirm with you is if the trend I am seeing is okay, that is, all the posteriors do not expand out to [-2,2] range and rather makes spirals within the range of [-1,1]. Please let me know at your leisure, so I can share this with Dr. Isik.

[20200923_sprial_model_param.pdf](https:/

[2020-09-24 17:30] latasianguy commented on #5
@levinwil @jdey4 should I be writing a new forest class for this, along with its deciders/transformers/voters? I think once I do that, I can find some regression dataset benchmarks to test the implementation in a notebook

[2020-09-24 18:09] levinwil commented on #5
@latasianguy I will mention that this is a very difficult and tricky issue.

In terms of implementation, we already have code that implements regression that is clearly the same algorithm as in classification, just modified to be regression instead. That code currently exists on the regression branch of this repository, both for networks and forests.

However, code is just language you use to comm

[2020-09-24 18:21] latasianguy commented on #5
@levinwil are there any papers you would recommend for me to get a scope of this problem?

[2020-09-24 18:28] levinwil commented on #5
@latasianguy I personally don't know of any papers that directly address the problems we have been experiencing. I can provide some papers that are related to potential solutions I think might be worth trying. Would that be useful? It's up to you how you'd like to spend your time, and if there's a chance I send you some papers and you spend days or weeks reading them, implement them in our framewo

[2020-09-24 18:36] latasianguy commented on #5
@levinwil I think that would be useful, it'll be a good experience for me working on this type of open-ended problem that may or may not have a good solution

[2020-09-24 18:53] levinwil commented on #5
@latasianguy

**KNN Background**
1. Have you read the original Stone's consistency theorem of KNN regression paper? If not, it's fine. It's a very technical and dense paper to convey a simple point (and this is an oversimplified interpretation): as a KNN regressor trains on increasingly more IID data from the distribution it'll see at inference time, the test error (measured through, I believe, me

[2020-09-24 22:51] levinwil commented on #207
Closing because Microsoft people said this isn't very important.

[2020-09-24 22:51] #207 closed

[2020-09-25 04:08] #156 closed

[2020-09-25 13:42] p-teng commented on #33
Would the DoD for this issue be:

Write a binning function that takes a feature of X, Y, and bin number as arguments and downsamples via bin means, and returns best bin boundary to split on?

I'm now realizing I may need more guidance on this issue.
How would best bin split be calculated? Would we use same number of bins for all features?

[2020-09-25 13:48] bstraus1 commented on #192
I’m interested in working on this but currently have other work slated for the next three weeks. If no one else wants it, I can work on it then.

[2020-09-25 16:12] jovo opened #234 "change master branch to be named 'main'"

[2020-09-25 17:00] mkusman1 commented on #56
@jdey4  recruitment_exp is not in the experiments folder

[2020-09-25 23:18] mkusman1 commented on #99
@jdey4  I would be interested to work on this issue

[2020-09-26 12:33] ykobaya9 commented on #192
I have been working on it for the past week or so, and implemented most of the changes. I was wondering if there was a method for internally calculating total_labels and passing it into voter_kwargs during initialization within progressive_learner.py. Right now, I have to manually specify the total_labels when calling add_task from my experiment file.

[2020-09-26 12:36] levinwil commented on #192
total_labels = no.unique(y)

This is in the instructions under Solution, step 1

[2020-09-26 12:40] ykobaya9 commented on #192
Thank you, I was wondering more about where to specify the voter_kwargs in progressive_learner.py. This is because I fear that adding a new field total_labels to initialization for voter will cause most of the current experiment files to not work, since they don't specify a total_labels when adding a task. An alternative is to have a default value for self.total_labels in the voter class.

[2020-09-26 12:43] levinwil commented on #192
Please see lines 38-44 of this file for an example of how I implemented that default in deciders:

https://github.com/neurodata/progressive-learning/blob/master/proglearn/deciders.py

[2020-09-26 12:45] levinwil commented on #192
It’s a good thing to make sure we don’t break the tests that currently exist. I agree that we should have defaults. I should’ve been more clear in my instructions.

Also, within forest.py and network.py, we can explicitly make sure that ‘classes’ is fed to voter_kwargs, very similar to this line: https://github.com/neurodata/progressive-learning/blob/master/proglearn/forest.py#L92

[2020-09-26 15:47] jdey4 commented on #234
@jovo 'master' renamed as 'main'.

[2020-09-26 15:47] #234 closed

[2020-09-27 01:24] latasianguy commented on #5
@levinwil I think I want to play around with running regression forests with normal data and adverserial data. I'm working on the branch for regression. Will a toy example of a underlying polynomial curve like Ax^2 + Bx + C and a higher order polynomial, both with added noise, work to simulate a two task regression problem? This way I can understand the transfer efficiencies and play around with s

[2020-09-27 12:14] jdey4 commented on #56
Here it is: https://github.com/neurodata/progressive-learning/tree/paper_experiments/experiments/recruitment_exp

[2020-09-27 13:26] levinwil commented on #5
@latasianguy That is along the lines of what MSR people and I discussed. That was how we started (thinking of a simple curve and a higher order polynomial). Just a quick reminder: an adversarial transformer with respect to task A transforms the data such that - when a voter is trained on top of task A data transformed with the adversarial transformer - BTE < 1 with respect to task A (i.e. that vot

[2020-09-27 21:47] levinwil commented on #5
@latasianguy Do you think you will make functions that generate the 3 mentioned settings? If so, do you have any idea when you will get around to doing so? MSR people are interested in this stuff, so it's fine if you aren't going to get to it anytime soon - but please let me know so I can do it.

[2020-09-27 22:10] latasianguy commented on #5
@levinwil I can get try to start it this week, but I'll have to play around with the regression branch since I haven't run any experiments before

[2020-09-28 04:15] latasianguy commented on #5
@levinwil I'm trying to get setting 2 working in a notebook right now. I'm using a simple least square loss to compute the test loss and was wondering what I should be iterating over. In other experiments, like the XOR-NXOR, we iterated over an increasing sample size, would the same apply here?

[2020-09-28 10:41] levinwil commented on #5
@latasianguy
1. Settings 2 and 3 do not need explicit adversarial transformers. You should be able to simply train a TreeRegressionTransformer (via add_transformer) and that transformer should be unhelpful/adversarial.

2. For now, let’s iterate over the max_depth of TreeRegressionTransformer, and make it such that the data fed to this transformer is the line y=0 with some added noise (as opposed

[2020-09-28 15:50] #192 closed

[2020-09-28 18:21] latasianguy commented on #5
@levinwil I got a framework working but the generalization errors I'm getting don't seem to be matching up. Am I using the add_transformer/predict function incorrectly or is my generated too close together? I've linked the [notebook](https://github.com/latasianguy/progressive-learning/blob/adverserial_regression/tutorials/TreeRegressionExample.ipynb).

[2020-09-28 18:23] RebeccaYin7 commented on #124
@jovo am I adding the independence test directly in this repo or in hyppo and calling UF from there?

[2020-09-28 20:29] #226 closed

[2020-09-28 20:32] #98 closed

[2020-09-28 21:55] emilyachang commented on #56
@jdey4 if no one else is currently working on this, could i be assigned to it?

[2020-09-28 22:07] emilyachang commented on #47
@jdey4 could i be assigned to this issue as well, following #56?

[2020-09-28 23:03] levinwil commented on #5
I believe this is because you are setting max_depth so high for both transformers. I would try the following:
1. set max_depth of transformer_A to be 30
2. perform the same exact experiment, but when you iterate across max_depth, only modify the max_depth of transformer_B, and start at a max_depth of 1 and increase to 30

[2020-09-28 23:11] levinwil commented on #5
@latasianguy I would also try plotting a third line and that is the performance when you just send inference examples through transformer 1 (setting transformer_ids = [1] in predict)

[2020-09-29 03:18] latasianguy commented on #5
@levinwil the graph I've been getting has the mean error for the normal and adversarial transformer (transformer 0 + 1) and the mean error for only the adversarial transformer as the same (transformer 1). Even though transformer 1 is trained on useless data, I don't think that the predictions would be the same, right? [Notebook](https://github.com/latasianguy/progressive-learning/blob/adverserial_

[2020-09-29 09:11] levinwil commented on #5
@latasianguy this is all because you’re using KNNRegresaionDecider. As mentioned, most of the work here will be on chancing the decider. We want to first highlight that using a SimpleAverage decider is not effective enough. Please use SimpleAverageDecider. Furthermore - and this part is crucial - you must use ‘predict_proba’ instead of predict when running inference on the progressive learner. I u

[2020-09-29 09:15] levinwil commented on #5
@latasianguy if I were you, I’d also confirm in some way that your task B data has outputs of 0. You could’ve made it much simpler by saying taskB_y = np.zeros((len(taskB_X))) and that’ll certainly make sure your labels for task B are zero. If the task B labels aren’t 0 exactly then the whole experiment is faulty.

[2020-09-29 12:47] #133 closed

[2020-09-29 12:48] #70 closed

[2020-09-29 13:48] levinwil commented on #25
Closing because this isn't really necessary. Most users will use LifeLong{Network, Forest} where these are controlled

[2020-09-29 13:48] #25 closed

[2020-09-29 15:46] #142 closed

[2020-09-29 15:48] #160 closed

[2020-09-29 15:51] #187 closed

[2020-09-29 16:54] levinwil opened #247 "Add max_depth as a parameter to LifelongClassificationForest and UncertaintyForest"
Simply follow the usage of default_finite_sample_correction/finite_sample_correction in both classes to include max_depth, with the minor change that max_depth is a transformer kwarg, as opposed to a voter kwarg. IT IS VERY IMPORTANT TO DISTINGUISH BETWEEN DEFAULT_MAX_DEPTH AND MAX_DEPTH: default_max_depth (like default_finite_sample_correction) is the parameter fed to the internal PL as a default

[2020-09-29 16:56] srahul1222 commented on #247
@levinwil I'd like to work on this issue

[2020-09-29 21:41] levinwil opened #249 "Create history MD file documenting the history of ProgLearn"
Afterwards, add to setup.py as in the following example: https://medium.com/@thucnc/how-to-publish-your-own-python-package-to-pypi-4318868210f9

[2020-09-30 00:05] levinwil commented on #249
Unnecessary, as this section is included in the hippo index.rst

[2020-09-30 00:05] #249 closed

[2020-09-30 00:32] levinwil opened #254 "Publish git release corresponding to v0.0.1"
Follow https://github.com/neurodata/hyppo/releases/tag/v0.1.0 as an example

[2020-09-30 01:47] levinwil commented on #152
Closing this, since forest.py is currently documented.

[2020-09-30 01:47] #152 closed

[2020-09-30 01:49] levinwil commented on #100
Closing, as PR #190 has been merged

[2020-09-30 01:49] #100 closed

[2020-09-30 01:51] levinwil commented on #90
Closing, since the sims module has been created.

[2020-09-30 01:51] #90 closed

[2020-09-30 01:52] levinwil commented on #77
Closing, since these functions have been documented.

[2020-09-30 01:52] #77 closed

[2020-09-30 01:53] levinwil commented on #74
Closing, since network.py has been documented

[2020-09-30 01:53] #74 closed

[2020-09-30 01:53] levinwil commented on #73
Closing, since forest.py has been documented

[2020-09-30 01:53] #73 closed

[2020-09-30 01:54] levinwil commented on #68
Closing, since these sections have been created

[2020-09-30 01:54] #68 closed

[2020-09-30 02:02] levinwil commented on #12
Closing, as proglearn has just been uploaded to PyPi at the following link: https://pypi.org/project/proglearn/

[2020-09-30 02:02] #12 closed

[2020-09-30 02:11] levinwil commented on #1
@jovo could you please provide further instructions? I don’t think we can make any of the progressive learners fit an Sklearn API (besides UF, if you consider that a progressive learner), but we have converted all Transformers, Voters, and Deciders to fit all the Sklearn APIs we thought were appropriate. Do you have further expectations and/or hopes as far as Sklearn API compliance goes?

[2020-09-30 14:35] #151 closed

[2020-09-30 19:46] mkusman1 commented on #99
@jdey4 @sampan501 @levinwil @jovo
Could you please provide more information, background, end goal, and instructions on this issue?

[2020-10-01 01:50] levinwil commented on #254
Closing, since this has been released

[2020-10-01 01:50] #254 closed

[2020-10-01 04:37] jdey4 commented on #99
@mkusman1 let's talk to jovo on Friday. Till then you can try to understand the codes in this repo: https://github.com/neurodata/SPORF and try to replicate some experiments from the morf paper.

[2020-10-01 04:38] #178 closed

[2020-10-01 14:42] levinwil opened #256 "Type check all input X, y to all user-facing functions in the proglearn package"
use sklearn.validation.{check_array, check_X_y} on functions in {forest, network}.py

[2020-10-02 17:33] jovo commented on #64
https://github.com/neurodata/SPORF/tree/jlp-gaborFilter01

[2020-10-02 17:36] jovo commented on #99
https://github.com/tpsatish95/deep-conv-rf

[2020-10-02 17:41] jovo commented on #99
https://arxiv.org/abs/1708.08705

[2020-10-02 17:43] mkusman1 commented on #99
(Gabor filters: https://github.com/neurodata/SPORF/tree/jlp-gaborFilter01)

[2020-10-02 21:11] latasianguy commented on #5
@levinwil from the feedback on Wednesday, I think I'll do the following:

- run experiments with task A transformer at depth=30, task B transformer going from depths=1 - 30, stepsize=1
- run experiments with task A transformer with tree=25, task B transformer trees=5 - 50, stepsize=5
- run experiments with 1 task A transformer, and 1-30 task B transformers

I'll plot the mean generalization error

[2020-10-03 03:20] levinwil commented on #5
@latasianguy I would apply noise after normalization to the taskB dataset. So instead of doing:

y_new = (y_new - regressor.intercept_) / regressor.coef_
y_new = y_new.reshape(X_new.shape[0], -1)

Try

y_new = (y_new - regressor.intercept_) / regressor.coef_
y_new = y_new.reshape(X_new.shape[0], -1)
y_new += np.random.normal(size = y_new.shape, scale = 10.0)

I would also sample 'int(sample_size /

[2020-10-03 05:47] levinwil opened #258 "Format all proglearn to follow black style formatting and add Travis CI check for black style"

[2020-10-03 07:40] levinwil commented on #158
@latasianguy How has progress been on this? Looking at the code on your branch, it seems like the Documentation for SimpleArgmaxAverage is basically done. Do you think you could switch that documentation over to the version on main and adapt it?

[2020-10-03 08:25] levinwil commented on #82
Closing since this seems to have been mostly resolved

[2020-10-03 08:25] #82 closed

[2020-10-03 08:26] levinwil commented on #45
@jdey4 Can this be closed?

[2020-10-03 08:28] levinwil commented on #40
Is there a distinction between this and Issue #48? They seem to be the same or similar issues - are they similar enough to close one or the other?

[2020-10-03 08:38] levinwil opened #265 "Remove duplicate requirements list in setup.py and requirements.txt"
The variable defined [here](https://github.com/neurodata/progressive-learning/blob/main/setup.py#L3) and the list in [requirements.txt](https://github.com/neurodata/progressive-learning/blob/main/requirements.txt) provide duplicate information. We ideally should be updating requirements.txt and setup.py should read from this file.

[2020-10-03 08:40] levinwil opened #266 "Update GitHub "about" section for this repository"
We should have a more lengthy description of the repository in the about section. I would but I do not have the appropriate privileges to do so.

[2020-10-03 08:47] #75 closed

[2020-10-03 13:20] #258 closed

[2020-10-03 15:26] levinwil opened #268 "Move tutorials under docs"
This follows the style of [hyppo](https://github.com/neurodata/hyppo/tree/master/docs)

[2020-10-03 15:27] levinwil opened #269 "Rename 'experiments' folder to 'benchmarks'"
This follows the style of [hyppo](https://github.com/neurodata/hyppo/tree/master)

[2020-10-03 16:31] latasianguy commented on #158
@levinwil new branch [here](https://github.com/latasianguy/progressive-learning/tree/document-deciders.py-new), let me know if I need to change anything before the PR, I'll close the other branch after the PR

[2020-10-03 16:47] levinwil commented on #158
1. Parameters means parameters to the init function. _is_fitted is NOT one of those parameters
2. Class attributes means variables that are internally saved. This DOES include _is_fitted
3. There are still some mentioned of ‘SimpleAverage’ instead of ‘ SimpleArgmaxAverage’

[2020-10-03 16:49] levinwil commented on #158
You also don’t really need to mention anything about class attributes, since there aren’t any - just object attributes.

You should also have method signatures in the unit docstring. See https://github.com/latasianguy/progressive-learning/blob/document-deciders.py-new/proglearn/voters.py for examples of this.

Return statements in the doc strings should mention the types of the variables that are

[2020-10-04 17:19] jdey4 opened #273 "Add rst files to render docs via sphinx"

[2020-10-04 20:18] bstraus1 commented on #188
Hi, I've created a notebook and committed it to my fork [here](https://github.com/bstraus1/progressive-learning). The tutorial itself is fine, however I have one note of concern. I'm getting an accuracy of 1.0 on the test data. This cannot be right. Can it? @jdey4 @sampan501

[2020-10-04 22:01] sampan501 opened #277 "setup netlify to show preview of docs on pull request"

[2020-10-05 12:21] levinwil opened #279 "Update CONTRIBUTION.MD"
We need to add Quicklinks to CONTRIBUTION.MD and a link to the NeuroData ProgLearn webpage contribution guidelines.

#### Additional context
This follows in the style of [hyppo](https://github.com/neurodata/hyppo/blob/master/CONTRIBUTING.md)

[2020-10-05 12:31] levinwil commented on #206
Currently finished on docs branch

[2020-10-05 12:32] levinwil commented on #158
Hey, @latasianguy do you have a progress report on this? We're in the process of generating documentation and this is the last major piece of documentation that we'd like to have finished.

[2020-10-05 12:33] levinwil commented on #118
Closing because this project is being honest at [https://github.com/levinwil/ActivationGraphBinning](https://github.com/levinwil/ActivationGraphBinning)

[2020-10-05 12:33] #118 closed

[2020-10-05 16:53] levinwil commented on #158
Closed per PR #280

[2020-10-05 16:53] #158 closed

[2020-10-05 17:05] chenyugoal commented on #48
Jayanta, the datasets you mentioned above are image tasks. Can I still use them in experiments? @jdey4

[2020-10-05 19:07] bstraus1 commented on #188
Problem solved. For reference: It was a random seed issue.

[2020-10-06 14:01] latasianguy commented on #5
@levinwil I tried what you suggested and updated the [notebook](https://github.com/latasianguy/progressive-learning/blob/adverserial_regression/tutorials/TreeRegressionExample.ipynb) but it didn't seem to work (graph at top right), I scaled the noise up to 20.0 and it is still showing that the normal transformer's generalization error is higher

also, I added a RandomTransformer class to transform

[2020-10-06 16:05] levinwil commented on #5
I have no idea what the distinction between these figures are. I have no idea what most of this is. Could you please explain it more so I can help? I highly doubt that a more noisy setting with less data outperforms a noiseless setting with more data. I imagine you have a bug somewhere, so if I were you I’d make sure absolutely with no certainty that you are providing the correct experiment parame

[2020-10-06 16:27] latasianguy commented on #5
@levinwil ![image](https://user-images.githubusercontent.com/54046695/95229623-c8e46200-07ce-11eb-9225-9ccfe936e937.png)
The figures on the left column are the experiments done on the adversarial transformer trained on y=0 data.
The figures on the right column are the experiments done on the adversarial transformer trained on noisy y=x data.
The figures along the top row are running the adversaria

[2020-10-06 16:44] levinwil commented on #5
I don't understand why on the top right, the Adversarial wins while on the bottom right, Adversarial Loses. Aren't they the same setting? What is the fixed number of trees in the top right and what is the fixed depth in the bottom right?

[2020-10-06 16:49] levinwil commented on #5
The top right and bottom right should have one overlapping experiment where they have the same number of trees and max_depth. I think your depth in the bottom right is 30, and your n_trees in the top right is 25. So, the column in the top right at depth= 30 (with fixed 25 trees) should be the same as the column in the bottom right at trees = 25 (with fixed 30 depth). Those have the same hyperparam

[2020-10-06 16:50] levinwil commented on #5
Everything looks about correct, other than the bottom right. I'd investigate there and make sure your experiment parameters are being fed correctly. A good check is that the columns mentioned in the above comment should be about the same. Does that make sense?

[2020-10-06 17:00] latasianguy commented on #5
@levinwil yep, that sounds good, I'll look over everything again

[2020-10-06 22:16] levinwil commented on #138
Closing since this is finished

[2020-10-06 22:16] #138 closed

[2020-10-06 22:26] levinwil opened #282 "Convert webpage to hyppo docs style"
My issue is about ...

The webpage docs should be updated to follow the writing style and aesthetics of hyppo's webpage docs.

[2020-10-06 22:37] levinwil commented on #273
@jdey4 Is this finished?

[2020-10-07 12:29] jdey4 commented on #273
Yeap, but it is in the staging.

[2020-10-07 16:18] #223 closed

[2020-10-07 17:53] PSSF23 opened #286 "Simplify each benchmark tutorial (Jupyter notebook)"
**Is your feature request related to a problem? Please describe.**
Extension of #41 and a Sprint 1 issue suggested by @levinwil

**Describe the solution you'd like**
Simplified tutorials for all benchmarks

**Additional context (e.g. screenshots)**
Currently finished tutorials:
label_shuffle #259
random_class #271
xor_nxor #284

[2020-10-07 18:24] levinwil opened #287 "Update contribution guidelines to restrict new features"
Only features with papers associated with them should be added. Must have algorithm descriptions, benchmarks, etc.

[2020-10-08 01:48] levinwil opened #289 "Add Progressive Reinforcement Capabilities (potentially via Q-Learning)"
**Is your feature request related to a problem? Please describe.**
We would like to devise a Reinforcement approach that leverages progressive learning to improve its in-task predictions.

**Describe the solution you'd like**
Treat Q-Learning as a classification problem and continue as normal.

Here's a tutorial for Q-Learning in Keras for reference: https://keras.io/examples/rl/deep_q_network_bre

[2020-10-08 16:05] ykobaya9 opened #290 "Self-Supervised Domain Adaptation"
**Is your feature request related to a problem? Please describe.**
This is my individual portion of the sprint 1 issue stemming from #79 .  I am trying to devise an algorithm for supervised point set registration for domain adaptation. My first approach is using the Iterative closest point algorithm: https://ieeexplore.ieee.org/document/121791

**Additional context (e.g. screenshots)**
Experiments

[2020-10-08 20:56] latasianguy commented on #5
@jovo @levinwil here's a plan I made from the feedback I got from Wednesday

- [ ] Replicate XOR_NXOR experiment (theres's already a [tutorial](https://github.com/neurodata/ProgLearn/blob/docs/docs/tutorials/xor_nxor_exp.ipynb))
- [ ] Use the regression branch of the repo to test a simple regression extension, except with y=x as the data, instead of XOR_NXOR. Since this is regression, I'm assuming

[2020-10-09 13:13] levinwil commented on #5
For the second point, I don’t understand. Why would you use two progressive learners on y=x? Do you mean to say you’ll use one progressive learner but two transformers? If so, it should be fine to just use y=x with the same amount of noise (although I personally think it would be better to use y=x for task 1 and y=-x for task 2, as that more directly reflects XOR/NXOR in that the second task is ro

[2020-10-11 20:39] levinwil commented on #277
Closing, as this has been solved on Netlify

[2020-10-11 20:39] #277 closed

[2020-10-11 23:08] levinwil opened #296 "Format Docstrings so that Attributes and Methods Show Correctly in Sphinx"
My issue is about ...

#### Snapshot of documentation error:
<img width="601" alt="Screen Shot 2020-10-11 at 7 05 20 PM" src="https://user-images.githubusercontent.com/20121139/95692592-06912280-0bf5-11eb-90a5-04665afb42fb.png">
<img width="480" alt="Screen Shot 2020-10-11 at 7 05 50 PM" src="https://user-images.githubusercontent.com/20121139/95692595-0c870380-0bf5-11eb-8d44-c3b460d803a8.png">
<im

[2020-10-12 12:00] jdey4 opened #297 "Update figure 3 according to jovo's suggestions"
**Is your feature request related to a problem? Please describe.**
This is just a format fix for the figure.

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context (e.g. screenshots)**

[2020-10-12 14:24] jdey4 opened #299 "Reproduce spiral experiment"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context (e.g. screenshots)**

[2020-10-12 15:44] latasianguy commented on #5
@levinwil Updated with a new [notebook](https://github.com/latasianguy/progressive-learning/blob/adverserial_regression/tutorials/regression_exp.ipynb). Here are the graphs from the notebook:
![image](https://user-images.githubusercontent.com/54046695/95765262-9aa7cc00-0c7f-11eb-94da-db67bb91d3a0.png)
![image](https://user-images.githubusercontent.com/54046695/95765276-9e3b5300-0c7f-11eb-94e3-cefc

[2020-10-12 18:00] #297 closed

[2020-10-12 18:17] levinwil commented on #247
Closing per PR #283

[2020-10-12 18:17] #247 closed

[2020-10-12 18:40] bstraus1 opened #301 "Refine the xor_xnor experiment tutorial"
Specifically, I will:

- [x] Update the notebook using [Jayanta's notebook](https://github.com/neurodata/ProgLearn/blob/staging/benchmarks/parity_experiment/experiment.ipynb)
- [x] Ensure that there are no warnings/unwanted outputs in the notebook (currently there are some)
- [x] Go line by line with the code, explaining each step
- [x] Move long functions to a separate .py file to improve readabi

[2020-10-12 18:42] levinwil commented on #301
@bstraus1 How is this different than https://github.com/neurodata/ProgLearn/blob/docs/docs/tutorials/xor_nxor_exp.ipynb?

[2020-10-12 18:44] bstraus1 commented on #301
Those three points I've written above.
In my opinion, the current experiment has too large blocks of code. I'll move long functions to a separate file and go line-by-line in the tutorial.

[2020-10-12 18:45] levinwil commented on #301
Ok. Can you also please fix the following problem:
<img width="661" alt="Screen Shot 2020-10-12 at 1 04 13 PM" src="https://user-images.githubusercontent.com/20121139/95780258-912b5d80-0c99-11eb-98d2-5ac8b2a7254e.png">
The region circled in black should not exist. If we don't have any data from N-XOR, we can't compute anything with respect to N-XOR.

[2020-10-12 18:48] bstraus1 commented on #301
Ah, so just restrict the x axis to sample sizes >750?

[2020-10-12 19:04] levinwil commented on #301
Yup!

[2020-10-12 19:11] levinwil commented on #301
@bstraus1 Could you also please get rid of all the progress print statements?

[2020-10-12 19:39] bstraus1 commented on #301
Yep!

[2020-10-12 20:55] levinwil commented on #301
Can you also switch the labels for FTE and BTE?

[2020-10-12 21:23] levinwil commented on #45
@jdey4 Can this be closed?

[2020-10-12 21:23] #45 closed

[2020-10-12 21:23] levinwil commented on #41
Closing, since this is a duplicate of #286 with less information

[2020-10-12 21:23] #41 closed

[2020-10-12 21:27] #188 closed

[2020-10-12 21:28] #189 closed

[2020-10-12 21:32] levinwil commented on #301
@bstraus1 Can you please update the original checklist at the top of this issue to include the changes mentioned in the comments?

[2020-10-13 21:01] latasianguy commented on #5
**Normal Regression Experiment**
![image](https://user-images.githubusercontent.com/54046695/95915778-ad9cc800-0d75-11eb-8f5d-8c87fe919ccb.png)
![image](https://user-images.githubusercontent.com/54046695/95915808-bab9b700-0d75-11eb-8f12-c64f8912a39e.png)

[2020-10-13 21:02] latasianguy commented on #5
**Adversarial Experiment**
![image](https://user-images.githubusercontent.com/54046695/95915922-e177ed80-0d75-11eb-8b19-aa16c1fdcbdd.png)
![image](https://user-images.githubusercontent.com/54046695/95915936-e89efb80-0d75-11eb-9efc-65f428ad9266.png)

[2020-10-14 03:28] levinwil commented on #279
Duplicate of #136

[2020-10-14 04:43] levinwil opened #302 "Update progressive_learner.py documentation to reflect that {forest, network}.py should be used"
My issue is about ...

Updating progressive_learner.py to reflect that {forest, network}.py should be used
#### Snapshot of documentation error:

#### Additional context

[2020-10-14 05:11] #279 closed

[2020-10-14 12:40] levinwil opened #304 "Register http://proglearn.neurodata.io/"
My issue is about ...

#### Snapshot of documentation error:

#### Additional context

[2020-10-14 12:56] #304 closed

[2020-10-14 14:13] levinwil commented on #95
Closing, per PR #295

[2020-10-14 14:13] #95 closed

[2020-10-14 14:46] srahul1222 opened #305 "Simplify rotation_cifar tutorial and move functions to a separate file"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**
Tutorial should be simplified so that only the necessary code is in the notebook, while the rest of the functions should be moved to a separate file.

**Describe alternatives you've considered**

**Additional context (e.g. screenshots)**

[2020-10-14 15:15] srahul1222 commented on #40
I'm interested in applying the ProgLearn algorithms to the [Food-101](https://www.kaggle.com/kmader/food41) dataset from this [paper](https://openaccess.thecvf.com/content_CVPR_2019/papers/Kornblith_Do_Better_ImageNet_Models_Transfer_Better_CVPR_2019_paper.pdf)

[2020-10-14 18:04] #269 closed

[2020-10-14 18:04] #273 closed

[2020-10-14 18:04] #282 closed

[2020-10-14 18:04] #206 closed

[2020-10-14 18:04] #268 closed

[2020-10-14 18:04] #63 closed

[2020-10-14 19:03] jovo opened #307 "diversity and inclusion"
https://github.com/microsoft/graspologic/issues/531

[2020-10-14 19:13] jovo opened #308 "set up CI to auto push main to pypi"

[2020-10-14 19:25] levinwil opened #309 "Move benchmarks under docs"
My issue is about ...

Moving the benchmarks folder to be under docs, and display key figures in notebooks.

- [x] Move benchmarks folder under docs
- [x] Convert all plotting code in benchmarks to be Jupyter notebooks
- [x] Include plotting Jupyter notebooks in the webpage docs

#### Additional context

[2020-10-14 19:37] levinwil commented on #309
@jdey4 Please note that this means the plotting files under benchmarks should be converted to Jupyter notebooks so that we can display the results in the webpage docs, per the suggestion of Disa

[2020-10-15 03:36] jovo commented on #1
@bdpedigo @sampan501 do you guys have the link that explains how to check this?

[2020-10-15 12:00] sampan501 commented on #1
At the very least, all functions should inherit from the [base classes](https://scikit-learn.org/stable/modules/classes.html). A more comprehensive tutorial can be found [here](https://scikit-learn.org/stable/developers/develop.html). The tl;dr for the last guide is that it needs to pass `check_estimator`. I would add a unit test for this for each function.

[2020-10-15 13:08] levinwil commented on #308
Closing per PR #310

[2020-10-15 17:55] #266 closed

[2020-10-15 17:59] levinwil opened #316 "Update NeuralClassificationTransformer to NetworkClassificationTransformer"
My issue is about ...

#### Snapshot of documentation error:

#### Additional context

[2020-10-16 16:12] levinwil commented on #13
Notes from slack conversation with Jovo:

1. I think Code Climate only gives scores for team repositories with its paid version - I can only access my personal repositories with the free version
2. Should we include the docs badge? That links to readthedocs, which is different from netlify - so it will give the status of readthedocs, not the advertised netlify docs on proglearn.neurodata.io

[2020-10-16 16:19] levinwil commented on #296
1. Separate out parameters to init and internal attributes in main class docstrings
2. Make sure to add Raises NotFittedError in method docstrings

[2020-10-16 17:15] jovo commented on #13
how easy is it to make a netfliy badge?

On Fri, Oct 16, 2020 at 12:12 PM Will LeVine <notifications@github.com>
wrote:

--
With gratitude,

Joshua T Vogelstein, PhD
neurodata.io | BME@JHU <https://www.bme.jhu.edu/> | dA/dt > 0 > dJ/dt
<https://twitter.com/neuro_data/status/1279067902658916352>
where A = appreciating, J = judging, and t = time.
How can I do better? <https://forms.gle/iEad8byD89eTP

[2020-10-16 17:22] levinwil commented on #13
@jovo super easy. I can do that now.

[2020-10-16 17:23] levinwil commented on #13
@jovo should I replace the 'readthedocs' badge with the Netlify badge?

[2020-10-16 17:31] jovo commented on #13
yes please

On Fri, Oct 16, 2020 at 1:23 PM Will LeVine <notifications@github.com>
wrote:

--
With gratitude,

Joshua T Vogelstein, PhD
neurodata.io | BME@JHU <https://www.bme.jhu.edu/> | dA/dt > 0 > dJ/dt
<https://twitter.com/neuro_data/status/1279067902658916352>
where A = appreciating, J = judging, and t = time.
How can I do better? <https://forms.gle/iEad8byD89eTPdYx6>

[2020-10-16 17:32] levinwil commented on #13
KK. https://github.com/neurodata/ProgLearn/tree/badges currently has the Netlify badge.

[2020-10-16 18:21] levinwil commented on #136
Closing, per PR #311

[2020-10-16 18:21] #136 closed

[2020-10-17 03:09] latasianguy commented on #5
@levinwil so from Wed, I guess I should start by making function that generate two 3D gaussians (y, x1, x2) for task 1 and task 2, mess around with their covariance matrices to give them the same distribution as XOR, NOR (I think jovo mentioned correlations of 0.5 and -0.5) and then run the same experiments without a max depth and see how the BTE and FTE look like? should I also plot how the parti

[2020-10-17 03:21] levinwil commented on #305
Closing, per PR #319

[2020-10-17 03:21] #305 closed

[2020-10-17 03:21] levinwil commented on #296
Closing, per PR #318

[2020-10-17 03:21] #296 closed

[2020-10-17 03:22] levinwil commented on #286
Closing, since all baseline tutorials have been implemented on the staging branch (other than recruitment, which is in Issue #56 )

[2020-10-17 03:22] #286 closed

[2020-10-17 03:23] levinwil commented on #102
Closing since all steps have been done, other than the last which is Issue #309

[2020-10-17 03:23] #102 closed

[2020-10-17 03:25] levinwil commented on #56
@emilyachang would you still like to be put on this issue?

[2020-10-17 03:31] levinwil commented on #4
https://scikit-learn.org/stable/developers/contributing.html#documentation

1. Add "see also" sections
2. Specify array shapes and types

[2020-10-17 03:31] levinwil commented on #5
@latasianguy That all sounds good to me. No need to plot the partitions, though. Maybe we can do that later, but that's not particularly important right now.

[2020-10-17 03:43] emilyachang commented on #56
@levinwil yes, if possible!

[2020-10-17 03:45] levinwil commented on #56
@emilyachang just assigned you. If possible, please PR the notebook into the 'docs/tutorials/' folder on the staging branch. The final notebook should be slim, clean, minimal - it is a tutorial. You should be able to explain every word of code in the final notebook, why it's there, what it's doing, and why there isn't a better (or shorter/cleaner) alternative. Does that make sense?

[2020-10-17 05:01] emilyachang commented on #56
@levinwil yep! apologies about the typos/lack of code cleanup in the previous notebook i worked on.

[2020-10-17 05:17] levinwil commented on #56
@emilyachang no worries haha that wasn’t supposed to be a subtle @ to your previous notebook - I just give those same suggestions to everyone writing tutorials

[2020-10-17 19:13] levinwil commented on #265
Closing, per issue #320

[2020-10-17 19:13] #265 closed

[2020-10-17 23:51] Michael-Ainsworth commented on #83
![sparse_parity_p14_3_ss35000_DN_14_8_1_RF_100_trs_20_iters_8_bs](https://user-images.githubusercontent.com/59264468/96355454-c972d780-10af-11eb-8373-aa6234313494.png)
This is the experiment run on the sparse parity dataset with parameters p=14 and p*=3 for 20 iterations. Do these parameters do a good job of demonstrating the intended relationship? Or should I explore additional parameters to try

[2020-10-18 03:26] jovo commented on #83
we need more data.
how many trees?
how many trials?
where are the errorbars?
how large is the deep net, etc.

also please link the jupyter notebook as well.

On Sat, Oct 17, 2020 at 7:51 PM Michael Ainsworth <notifications@github.com>
wrote:

--
With gratitude,

Joshua T Vogelstein, PhD
neurodata.io | BME@JHU <https://www.bme.jhu.edu/> | dA/dt > 0 > dJ/dt
<https://twitter.com/neuro_data/status/127

[2020-10-18 17:25] bstraus1 opened #321 "Run UF figure 1 tutorial with real parameters"
Goal: see if the results with the real parameters are comparable to the UF paper.

[2020-10-18 19:46] Michael-Ainsworth commented on #83
![sparse_parity_p14_3_ss35000_DN_14_8_1_RF_100_trs_20_iters_8_bs_eb](https://user-images.githubusercontent.com/59264468/96377926-dbf41c00-1156-11eb-91c8-9e32bcc260ed.png)
RF uses 500 trees
DN has 1 hidden layer with 8 nodes (14 input nodes, 1 output node) run for 10 epochs

Data points are the average over 20 trials
Error bars were calculated using the standard error of the mean

I have attached m

[2020-10-18 19:53] levinwil commented on #321
@bstraus1 this seems to be related to #62

Is that correct? If so, could you please close this issue and make a comment with your tasking on #62

[2020-10-18 21:17] bstraus1 commented on #321
I'm unclear on what #62 is exactly. Can you elaborate?

[2020-10-18 21:19] levinwil commented on #321
My impression is that it means to reproduce all the UF notebooks (including UF fig 1) using ProgL functions. It seems as if that is what your goal is here. Would you say that is the case?

[2020-10-18 21:25] bstraus1 commented on #321
Not the case here. Currently the fig1 notebook already uses ProgL functions. This issue is for running it with the real parameters rather than the test parameters using a machine with more computational power.

[2020-10-18 21:29] levinwil commented on #321
Which notebook is the fig1 notebook?

I know your issue is to use the real parameters rather than the tutorial parameters. That means that, once you use the real parameters, your goal is to reproduce the results of the UF paper fig 1 but with ProgLearn functions, as the title of #62 suggests.

[2020-10-18 21:31] bstraus1 commented on #321
The notebook using ProgL functions is already written [here](https://github.com/neurodata/ProgLearn/blob/main/docs/tutorials/uncertaintyforest_fig1.ipynb). It just needs to be run on some more powerful machine.

[2020-10-18 21:33] levinwil commented on #321
So that is the tutorial notebook. Please correct me if I am wrong but I believe you are simply rerunning this notebook but with the parameters that match those used to generate the UF paper fig 1. In that case, you are literally reproducing a UF paper fig result, but with ProgLearn function. That is exactly the tasking for issue #62

[2020-10-18 21:35] bstraus1 commented on #321
#62 has no description and the title isn't well-worded. If it means to rerun tutorials that already use ProgL functions on real parameters, then yes #321 falls under #62. Otherwise, it does not.

[2020-10-18 21:41] levinwil commented on #321
1. By “real parameters” do you mean those used to generate figures? If so, please call them “paper parameters” or something along those lines - that is much more clear. Similarly, I believe that by “test parameters” you mean parameters used to generate tutorials. If so, please call them “tutorial parameters” for similar reasons.
2. #62 does not mean to rerun tutorials using paper parameters, as it

[2020-10-18 22:22] jovo commented on #83
ok that is helpful.
do you have a timing plot?
the lines are not that smooth, so i'd want something more like 500 trials i
think, assuming that is computationally tractable?

On Sun, Oct 18, 2020 at 3:46 PM Michael Ainsworth <notifications@github.com>
wrote:

--
With gratitude,

Joshua T Vogelstein, PhD
neurodata.io | BME@JHU <https://www.bme.jhu.edu/> | dA/dt > 0 > dJ/dt
<https://twitter.com/neur

[2020-10-18 22:34] hhelm10 opened #322 "`max_depth` overload"
`max_depth = None` for add_task is a bit confusing -- typically, `max_depth = None` implies "grow tree until pure" but here it uses means to use `self.default_max_depth`

[2020-10-18 22:37] levinwil commented on #322
@hhelm10  Do you have a suggested fix? I would say an alternative default value for the parameter ‘max_depth’ to add_task, but I’m not sure what that would be. We could do something silly like making the default ‘max_depth = “default”’ but that seems really hacky.

[2020-10-18 22:47] hhelm10 commented on #322
yes, a simple suggestion -- change from `max_depth` to `max_depth_for_task` so as to eliminate the name conflict with sklearn

[2020-10-18 22:49] levinwil commented on #322
Well still run into the same problem even if we do that renaming. That hyperparam, regardless of name, controls the max_depth eventually fed to sklearn.

[2020-10-18 22:52] hhelm10 commented on #322
right -- the issue is that we are using the same name as sklearn but not `None` in the same way --

this is problematic, for example, when you set the default max_depth to be 30 but for a particular task you want to force leaf purity

[2020-10-18 22:54] levinwil commented on #322
Yup. Exactly as I was saying in my first comment. This is an undesirable. I think the only solution that I see is to change the default value of the max_depth parameter in add_task to something besides none (e.g. max_depth = “default” - or just something that couldn’t possibly be a value fed to sklearn as a max_depth parameter) just so we can know when to use default_max_depth or a non-default val

[2020-10-19 03:50] Michael-Ainsworth commented on #83
I do not currently have a timing plot, but I believe it took around 2 hours to run 20 trials. I will run the model overnight and comment the results with a timing plot. Thanks!

[2020-10-19 04:00] jovo commented on #83
great

On Sun, Oct 18, 2020 at 11:50 PM Michael Ainsworth <notifications@github.com>
wrote:

--
With gratitude,

Joshua T Vogelstein, PhD
neurodata.io | BME@JHU <https://www.bme.jhu.edu/> | dA/dt > 0 > dJ/dt
<https://twitter.com/neuro_data/status/1279067902658916352>
where A = appreciating, J = judging, and t = time.
How can I do better? <https://forms.gle/iEad8byD89eTPdYx6>

[2020-10-19 04:14] bstraus1 commented on #321
I can do that, but wouldn’t it be better practice to link these issues since this is one I can fully complete while the other is a much larger umbrella issue?

[2020-10-19 04:17] levinwil commented on #321
I personally think it would be best to mark this issue as a duplicate, mention that you are closing it because it falls under #62, and then comment a checklist of tasks you'd like to complete related to this issue that fall under the umbrella of #62

Just my opinion. Ideally, we'd have everything related to #62 on the thread under #62

[2020-10-19 15:55] latasianguy commented on #5
@levinwil New notebook linked [here](https://github.com/latasianguy/progressive-learning/blob/adverserial_regression/tutorials/regression_exp_gaussian.ipynb). I didn't set a max depth so I was wondering if it overfit to the task 1 Gaussian data since the generalization error for task 2 is rising so the partitions learnt is less helpful as more task 2 data is added?

[2020-10-19 16:04] levinwil commented on #5
@latasianguy Could you please try setting max_depth = 10? If you set max_depth = None, that means the transformers will train to purity and then more data means more overfit partitions. Does that make sense?

[2020-10-19 16:15] levinwil opened #325 "Restrict Web Docs and Pip Package to Those Tested and Well-Documented"
My issue is about ...

Restricting Web Docs and Pip Package to {network, forest}.py

#### Snapshot of documentation error:

#### Additional context

[2020-10-19 16:23] jdey4 opened #326 "Add n_estimators as a parameter to add_task in forest.py."
**Is your feature request related to a problem? Please describe.**
We need this feature to run experiments with fixed resources with cifar and parity data.

**Describe the solution you'd like**
Just add one more argument as n_estimators.

**Describe alternatives you've considered**

**Additional context (e.g. screenshots)**

[2020-10-19 16:38] levinwil commented on #322
Closing per PR #324

[2020-10-19 16:49] #322 closed

[2020-10-19 17:42] bstraus1 commented on #321
That makes sense. I'll do that now.

[2020-10-19 17:42] #321 closed

[2020-10-19 17:43] levinwil commented on #326
Closing per PR #327

[2020-10-19 17:43] #326 closed

[2020-10-19 17:45] bstraus1 commented on #62
I have recently rewritten the UF figure 1 notebook using ProgL repo functions.
It is complete with #95 and #189.
However, as an additional step, I'm going to run the notebook using paper-parameters (as opposed to the tutorial-parameters, which run more quickly) with @EYezerets 's help. Currently this notebook is being finalized and will be PR'ed soon.

[2020-10-19 21:07] Michael-Ainsworth commented on #83
![sparse_parity_p14_3_ss35000_DN_14_8_1_RF_100_trs_100_iters_8_bs_eb](https://user-images.githubusercontent.com/59264468/96511175-b3d6ec80-122c-11eb-8aea-55254c3f10e9.png)
![Time_plot_DN_14_3_500_trees_8_bs](https://user-images.githubusercontent.com/59264468/96511188-ba656400-122c-11eb-9305-b10bc23e149c.png)
I ran the model on 100 trials, and it appears the distinction between model accuracies bec

[2020-10-21 15:46] bstraus1 opened #330 "Create xor-rxor tutorial notebook using Jayanta's code"
I plan to:

- [x] Create a notebook similar to [Emily's for xor-nxor](https://github.com/neurodata/ProgLearn/blob/main/docs/tutorials/xor_nxor_exp.ipynb)

- [x] Use code from [Jayanta's notebook](https://github.com/neurodata/ProgLearn/blob/staging/benchmarks/parity_experiment/experiment.ipynb)

[2020-10-21 15:48] levinwil commented on #330
@bstraus1 Is this the same task as #301 ? If not, how do they differ?

[2020-10-21 15:59] bstraus1 commented on #330
@levinwil This is not the same as the title implies. I just met with Jayanta and he said that I may want to break up the notebook into two notebooks: XOR-NXOR & XOR-RXOR. That being said, these issues are very linked and I feel that both should exist simultaneously (but not in the same issue).

[2020-10-21 16:02] levinwil commented on #330
@bstraus1 That makes sense. Before moving on to the new XOR-RXOR, could you please clean up the existing XOR-NXOR notebook?

[2020-10-21 16:05] bstraus1 commented on #330
@levinwil Reading my mind 😉

[2020-10-21 19:01] levinwil opened #331 "Change transformer_voter_decider_split in network.py to network_construction_proportion"
So that we match forest.py and minimize external parameters

[2020-10-21 19:35] jdey4 opened #332 "Rename L2F, L2N to ODIF, ODIN in benchmarks & tutorials"

[2020-10-22 15:33] levinwil commented on #325
Closing, per PR #334

[2020-10-22 15:33] #325 closed

[2020-10-22 15:38] levinwil commented on #331
Closing, Per PR #333

[2020-10-22 15:38] #331 closed

[2020-10-22 23:51] jdey4 opened #337 "Fix spiral and xor figure according to the decision in ProgLearn meeting."
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context (e.g. screenshots)**

[2020-10-23 03:38] levinwil opened #339 "Add Sampling With{Out}Replacement Capability to forest.py classes"
**Is your feature request related to a problem? Please describe.**
Users should be able to decide if samples are chosen with or without replacement in tree construction

**Describe the solution you'd like**
feed "replace" parameter to the function call to np.random.choice in progressive_learner.py with the same value as the input "bootstrap" parameter

**Describe alternatives you've considered**

[2020-10-23 22:46] levinwil opened #340 "Fix CodeCov Uploading"

[2020-10-26 17:41] Michael-Ainsworth commented on #83
![dnn_4hn_3bs_10iters_rf_overlay_FINAL_30000](https://user-images.githubusercontent.com/59264468/97206747-855a9380-178f-11eb-91f7-346510e9fc89.png)
Sparse parity distribution with parameters p=14 and p*=3

RF uses 500 trees
DN has 1 hidden layer with 4 hidden nodes and a batch size of 3

Data points are the average over 100 trials
Error bars are calculated using the standard error of the mean

A f

[2020-10-27 02:30] jovo commented on #83
its a thing of beauty.
write the caption.
it would be Figure 3B in this
https://www.biorxiv.org/content/10.1101/2020.04.29.068460v3
maybe also write a few sentences for the text to include,
and respond to this issue accordingly.

On Mon, Oct 26, 2020 at 1:41 PM Michael Ainsworth <notifications@github.com>
wrote:

--
With gratitude,

Joshua T Vogelstein, PhD
neurodata.io | BME@JHU <https://www.bme.

[2020-10-27 17:28] bstraus1 commented on #301
This issue can now be closed @levinwil. Sorry that I can't do this myself.

[2020-10-27 17:40] #301 closed

[2020-10-27 21:06] levinwil opened #345 "Change tutorials to match new BTE/FTE definitions"
Both the code and the notebook text

[2020-10-28 16:40] levinwil commented on #299
Closing per Issue #336

[2020-10-28 16:40] #299 closed

[2020-10-28 16:40] levinwil commented on #256
Closing per Issue #336

[2020-10-28 16:40] #256 closed

[2020-10-28 16:40] levinwil commented on #183
Closing per Issue #336

[2020-10-28 16:40] #183 closed

[2020-10-28 16:41] #316 closed

[2020-10-29 00:04] PSSF23 commented on #345
Adding source of new definitions might be helpful.

[2020-10-29 00:21] levinwil commented on #345
<img width="417" alt="Screen Shot 2020-10-28 at 8 20 56 PM" src="https://user-images.githubusercontent.com/20121139/97510456-26497a00-195b-11eb-9f4c-485f4da9a027.png">
<img width="432" alt="Screen Shot 2020-10-28 at 8 21 01 PM" src="https://user-images.githubusercontent.com/20121139/97510459-26e21080-195b-11eb-9642-5543f08f7e32.png">

Here are the new definition. The short change is to use the rat

[2020-10-29 02:05] PSSF23 commented on #345
Should benchmarks be updated as well?

[2020-10-29 02:08] levinwil commented on #345
Yup

[2020-10-29 02:43] PSSF23 opened #348 "Change benchmarks to match new BTE/FTE definitions"
Related to #345

[2020-10-30 00:32] parthgvora opened #351 "Implement SPORF in ProgLearn: fit function, recreate SPORF figures"
The end goal is to create an sklearn compliant SPORF in proglearn that is modular enough to add different kinds of oblique trees in the future (i.e. MORF). This issue is in tandem with #352

1. Implement fit function
2. Write unit tests for fit function
3. Recreate figures from SPORF paper with sklearn SPORF implementation
4. Feature request for sklearn oblique trees: write "Describe your proposed

[2020-10-30 00:35] parthgvora opened #352 "Implement SPORF in Proglearn: predict function, documentation"
The end goal is to create an sklearn compliant SPORF in proglearn that is modular enough to add different kinds of oblique trees in the future (i.e. MORF). This issue is in tandem with #351

1. Implement the predict & predict_proba functions for the oblique tree
2. Write unit tests for above functions.
3. Write sklearn compliant documentation for new class
4. Feature request for sklearn oblique tr

[2020-10-30 00:36] parthgvora commented on #23
Please see #351  and #352 - me and @jmandavilli will split this issue

[2020-10-30 00:38] parthgvora commented on #352
Please assign @jmandavilli  this issue

[2020-10-30 00:38] parthgvora commented on #351
Please assign @parthgvora this issue

[2020-10-30 00:41] parthgvora commented on #64
This issue will be tackled once #351 and #352 are completed, as implementing a sklearn compliant SPORF is a pre-requisite to this issue.

[2020-11-05 18:26] PSSF23 opened #356 "Optimize tutorial notebooks for online display"
My issue is about making sure all tutorials are displayed correctly on netlify-produced [website](https://proglearn.neurodata.io/index.html). Even if the tutorial notebooks are displayed correctly on GitHub or local host, they might show nonsense equations and uninformative titles online.

Some guidelines:
 - Use [`label_shuffle_exp`](https://github.com/neurodata/ProgLearn/blob/staging/docs/tutori

[2020-11-05 18:34] PSSF23 commented on #345
Should we close this issue? @levinwil

[2020-11-05 18:34] PSSF23 commented on #348
Should we close this issue? @levinwil

[2020-11-05 18:41] PSSF23 commented on #356
If employing the website now with `staging` branch, we will have at least 3 tutorial pages named "Tutorial Overview." Do you mind reformat them in a more informative way? @bstraus1

[2020-11-05 18:51] bstraus1 commented on #356
Can you elaborate on what you’d like me to do exactly about the redundant titles?

[2020-11-05 18:58] PSSF23 commented on #356
@bstraus1 Use the "#"format once and only on the true title I suppose? Like:

# Installation Guide

[2020-11-05 19:02] levinwil commented on #348
Yup yup. Good catch @PSSF23

[2020-11-05 19:02] #348 closed

[2020-11-05 19:03] levinwil commented on #345
Yup yup. Good catch @PSSF23

[2020-11-05 19:03] #345 closed

[2020-11-05 22:58] PSSF23 commented on #91
This issue needs to be closed or updated, as there is no experiment folder anymore.

[2020-11-07 01:07] levinwil commented on #91
@PSSF23 just updated. good catch.

[2020-11-12 17:07] #83 closed

[2020-11-13 18:15] #302 closed

[2020-11-13 19:59] Michael-Ainsworth opened #366 "Change imports in sample_size_functions.py and edit tutorial markdown for online display"
In the sample size experiment tutorial, there are a few minor issues:
- sample_size_functions.py currently imports `tensorflow.keras`; must be changed to import `keras` as a stand-along package
- sample_size_experiment.ipynb has some markdown cells that do not properly display in the netlify-produced website; must be edited
- sample_size_experiment.ipynb has some descriptions that can be simplifie

[2020-11-13 20:08] Michael-Ainsworth opened #367 "Find smaller p/p* parameters that satisfy the sample_size_experiment.ipynb tutorial"
In sample_size_experiment.ipynb, data is generating from the sparse parity distribution using parameters `p` and `p*`. The goal of this issue is to:
- Explore the effect of smaller `p` and `p*` parameters on the experiment outcome
- Identify smaller parameters that can demonstrate the same relationship

If improved experiment parameters are found, they can be included in sample_size_experiment.ipy

[2020-11-13 23:50] jmandavilli commented on #352
Could I be assigned to this issue

[2020-11-14 02:49] #231 closed

[2020-11-15 16:19] PSSF23 commented on #69
@jovo is #178 and `travis` test enough to close this issue?

[2020-11-16 00:51] jovo commented on #69
dunno, that is a @jdey4 and @levinwil question

[2020-11-16 01:40] levinwil commented on #69
@PSSF23 i personally think Travis is enough to close this issue, but I can’t provide much more info since I do not have a windows machine. We run tests on a windows machine - not sure if that is enough.

[2020-11-16 05:27] #366 closed

[2020-11-16 19:59] PSSF23 commented on #69
Close until further issues arise.

[2020-11-16 19:59] #69 closed

[2020-11-17 01:34] bstraus1 opened #370 "Creating spiral experiment tutorial"
Using the code [here](https://github.com/neurodata/ProgLearn/tree/main/benchmarks/xor_rxor_spiral_exp) (in the benchmarks folder) to create a step by step tutorial recreating the spiral experiment.

[2020-11-17 01:36] bstraus1 commented on #370
I will:

- [ ] Make a separate functions file with the bulk functions

- [ ] Write a line-by-line explanation of each step in the experiment

- [ ] Reproduce results from the [progressive learning paper](https://arxiv.org/abs/2004.12908)

[2020-11-17 01:44] levinwil commented on #356
@PSSF23 What is the status of this issue? Is there anything else to update? I haven't been following very closely.

[2020-11-17 01:47] PSSF23 commented on #356
@levinwil Current tutorials should be addressed, but I want to keep it open as a reference. New notebooks keep coming~

[2020-11-17 01:48] levinwil commented on #356
@PSSF23 We could just make a wiki page. I think that would be more appropriate as a guide. Or we could add this to the contribution guidelines. I think issues should be concrete tasks that can be closed once finished - but it doesn't seem like this has a concrete end-point.

[2020-11-17 01:54] PSSF23 commented on #356
@levinwil adding to contribution guideline is a good idea. I will start working on it and close the issue when the guideline is updated.

[2020-11-17 01:56] levinwil commented on #356
@PSSF23 Sounds good :)

[2020-11-17 02:02] levinwil commented on #62
@EYezerets Do you know which other figs should be completed to close this issue?

[2020-11-17 05:02] #356 closed

[2020-11-17 05:04] jovo opened #372 "Describe figure significance in UncertaintyForest tutorials"
http://proglearn.neurodata.io/tutorials/uncertaintyforest_fig1.html
http://proglearn.neurodata.io/tutorials/uncertaintyforest_fig2.html

please rename, fig1 and fig2 do not mean anything to our users, please be more descriptive.

[2020-11-17 06:04] PSSF23 commented on #372
Specific requirement for #37

[2020-11-17 21:19] #330 closed

[2020-11-19 20:32] EYezerets commented on #372
@jovo @PSSF23 how about
1. uncertaintyforest_posteriorestimates
2. uncertaintyforest_conditionalentropyestimates
3. uncertaintyforest_mutualinformationestimates
?

[2020-11-20 21:37] PSSF23 opened #375 "Design benchmarks for streaming decision trees"
**Is your feature request related to a problem? Please describe.**
@jovo mentioned that I should have more rigorous tests for the streaming option (update existing trees) and demonstrate its usability in lifelong learning.

**Describe the solution you'd like**
I will design and run benchmarks on validated datasets like CIFAR-10 to make performance comparisons possible.

**Describe alternatives you

[2020-11-23 17:43] EYezerets opened #377 "Bias in UncertaintyForest performance compared to paper"
My issue is about the fact that the UncertaintyForest benchmarks notebook shows that the UncertaintyForest class from ProgLearn underperforms IRF at d=20, which we did not see in the original [paper](https://arxiv.org/abs/1907.00325).

I checked that samples are taken without replacement now in both the deprecated uncertainty-forest repo and in ProgLearn, i.e. `bootstrap = False` in the [figure 2

[2020-11-24 00:50] #372 closed

[2020-11-28 04:42] #91 closed

[2020-11-28 04:44] PSSF23 commented on #377
@EYezerets as Richard is not a contributor he has to comment on this issue to be assigned.

[2020-11-29 04:59] jovo commented on #377
@rguo123

[2020-11-30 02:22] williamrxu opened #379 "Domain Adaptation with CPD Algorithm"
**Is your feature request related to a problem? Please describe.**
This is my individual portion of the sprint 1 issue splitting from #79 domain adaptation. I am trying to use the CPD algorithm (https://arxiv.org/pdf/0905.2635.pdf) to domain adapt training data from one task to another task to provide twice the number of training data.

**Additional context (e.g. screenshots)**
Experiment:
- XOR a

[2020-12-05 05:45] #37 closed

[2020-12-05 05:45] #62 closed

[2020-12-05 20:03] levinwil commented on #13
Closing per PR #381

[2020-12-05 20:03] #13 closed

[2020-12-06 16:18] levinwil commented on #367
@Michael-Ainsworth Has this been mostly finished?

[2020-12-07 00:00] #370 closed

[2020-12-08 00:42] latasianguy opened #385 "Fix for decider data splitting"
My issue is about fixing the decider data splitting in `progressive_learner.py` within the `set_decider` function.
Previously, the decider has access to all data, even if we had given it an allotted amount of data. The change fixes it so that it uses its allotted amount set by `decider_idx = self.task_id_to_decider_idx[task_id]`

Changes:
[code]

[code]

[2020-12-08 01:42] levinwil commented on #367
Closing Per PR #384

[2020-12-08 01:42] #367 closed

[2020-12-08 03:16] levinwil commented on #385
Closing Per PR #386

[2020-12-08 04:07] #385 closed

[2020-12-09 13:21] EYezerets opened #387 "Introduce honest sampling into sklearn RandomForestClassifier"
**Is your feature request related to a problem? Please describe.**

UncertaintyForest from [ProgLearn](https://github.com/neurodata/ProgLearn) implements both honest sampling (partitioning the feature space on one subset, estimating posteriors on a disjoint one, or structure/estimation points in Denil et al.) and finite sample correction, neither of which are currently available in sklearn [Random

[2020-12-09 17:45] PSSF23 commented on #387
Is it an extension or milestone towards #9?

[2020-12-11 14:32] levinwil commented on #339
Closing, since sklearn always samples without replacement

[2020-12-11 14:32] #339 closed

[2020-12-11 14:37] levinwil commented on #377
@EYezerets Has there been enough progress on this to close this issue?

[2020-12-11 23:50] #379 closed

[2020-12-12 01:02] PSSF23 opened #391 "Migrate travis test to new domain"
My issue is about moving the travis test to new domain (`travis.com`). The old domain (`travis.org`) will become unavailable at the end of this year, and current tests on it encountered delays due to limited worker availability.

Official page for information: https://docs.travis-ci.com/user/migrate/open-source-repository-migration

#### Additional context
This issue applies to all repositories us

[2020-12-12 01:35] #48 closed

[2020-12-12 05:17] PSSF23 commented on #391
@sampan501 do you mind helping us with this migration, as you have already done so for `hyppo` I believe? Thanks a lot!

[2020-12-12 14:10] sampan501 commented on #391
https://docs.travis-ci.com/user/migrate/open-source-repository-migration#the-migration-steps

[2020-12-12 14:58] PSSF23 commented on #391
@sampan501 @jdey4 apparently the migration is only open to @neurodata members.

[2020-12-12 17:34] sampan501 commented on #391
Oh I can update it

[2020-12-12 17:42] PSSF23 commented on #391
@sampan501 please! Thank you!

[2020-12-12 18:16] sampan501 commented on #391
@jdey4 or @levinwil might have to do it. I don't see ProgLearn as an option in my migrate tab

[2020-12-12 18:29] PSSF23 commented on #391
@sampan501 it would be under the neurodata organization's migrate tab.

[2020-12-12 19:41] #290 closed

[2020-12-12 21:32] #40 closed

[2020-12-12 21:38] sampan501 commented on #391
Yea I understand that but I think only an admin has the ability to migrate. I'm not currently an admin of Proglearn

[2020-12-12 21:58] PSSF23 commented on #391
@sampan501 Thanks for the help! Let's see if @jdey4 and @levinwil have the permission needed.

[2020-12-14 20:02] levinwil commented on #391
I do not have the correct permissions to perform this. I cannot get access to `neurodata/Proglearn` from Travis. Maybe does @jdey4 have access?

[2020-12-14 20:06] levinwil commented on #49
Closing, per Issue #13

[2020-12-14 20:06] #49 closed

[2020-12-15 14:39] levinwil commented on #352
Closing, per PR #374

[2020-12-15 14:39] levinwil commented on #351
Closing, per PR #374

[2020-12-16 15:32] hhelm10 opened #398 "Raise warning when self.classes is an empty list for voters."
**Is your feature request related to a problem? Please describe.**
When manually using voters I did not realize I had to give the set of classes and that otherwise is was using an empty list.

**Describe the solution you'd like**
Raise a warning when self.classes is empty and you try to make a prediction.

[2020-12-16 15:52] levinwil commented on #398
@hhelm10 did you use LifelongClassification{Forest, Network} or the raw progressive learner class?

[2020-12-16 15:54] hhelm10 commented on #398
This was when using a TreeTransformer / TreeVoter directly. Probably an edge case, but adding a warning is pretty harmless.

[2020-12-16 16:17] levinwil commented on #398
Gotcha. I just wanted to make sure it didn't show up when using LifelongClassification{Forest, Network}

[2020-12-16 16:49] EYezerets commented on #377
@levinwil Sorry Will, we haven't really had any new ideas on this recently. Is it impeding progress on the repo?

[2020-12-16 16:50] EYezerets commented on #387
Oh @PSSF23 So sorry, I didn't see that earlier issue! I guess it's just a more detailed description/extension?

[2020-12-21 20:16] PSSF23 opened #401 "Optimize package requirements in pip"
My issue is about resolving the package requirements and possibly reversing the commits for #265. As the `pip` package does not contain `requirements.txt`, the package could not be installed properly.
#### Reproducing code example:

[code]

#### Error message

[code]

#### Version information

- OS: macOS
- Python Version: 3.8.5
- Package Version: 0.0.3

[2020-12-21 20:17] PSSF23 commented on #401
@levinwil Is adding `requirements.txt` to the `pip` package possible? I am not familiar with the procedure.

[2020-12-21 20:27] PSSF23 opened #402 "Resolve numpy dependency conflicts due to tensorflow update"
My and @p-teng's issue is about resolving dependency conflicts between `proglearn` and `tensorflow`. Starting version 2.4, `tensorflow` started requiring `numpy~=1.19.2` while our requirement currently is `numpy<1.19`. Here is `tensorflow`'s setup file: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/pip_package/setup.py
#### Reproducing code example:

[code]

#### Error mess

[2020-12-21 20:32] PSSF23 commented on #402
Suggestion: as `tensorflow` already requires `numpy` with a specific version range, maybe we do not need to require `numpy` again in our package setup file.

[2021-01-04 21:49] EYezerets opened #408 "Key Error prevents running uncertaintyforest_posteriorestimates tutorial"
I encountered a Key Error that did not exist when the [uncertaintyforest_posteriorestimates.ipynb](https://github.com/neurodata/ProgLearn/blob/staging/docs/tutorials/uncertaintyforest_posteriorestimates.ipynb) tutorial and corresponding functions in [unc_forest_tutorials_functions.py](https://github.com/neurodata/ProgLearn/blob/staging/docs/tutorials/functions/unc_forest_tutorials_functions.py) we

[2021-01-05 23:19] PSSF23 commented on #408
@EYezerets I think I figured out part of the problem.

So for a start, line 187 of `progressive_learner.py` has this internal function of appending `transformer` to its corresponding `transformer_id`:

https://github.com/neurodata/ProgLearn/blob/effa495fa6adef3ffda7d48f5419cfe956751fc1/proglearn/progressive_learner.py#L187-L191

And then on line 658, in the `add_task` function, the `task_id` is as

[2021-01-08 15:51] #408 closed

[2021-01-08 23:58] #402 closed

[2021-01-13 02:56] v715 opened #413 "Consider standardizing notebook formats"
[`nb-black`](https://github.com/dnanhkhoa/nb_black) is a jupyter extension that auto-formats notebook cells using Black.

Might be worthwhile adding to all tutorial notebooks for consistency -- a simple fix that would enhance readability.

#### Snapshot of documentation error:

We don't allow code formatting like this in our code, so why in our tutorials?
![Screen Shot 2021-01-12 at 9 54 59 PM](ht

[2021-01-13 04:35] v715 opened #415 "Parallelize Gini impurity calculation for oblique splitter"
**Is your feature request related to a problem? Please describe.**

The existing `ObliqueSplitter` implementation calculates Gini impurity for each potential split in series.

This is slow. As @parthgvora noted:
https://github.com/neurodata/ProgLearn/blob/61fb08a2a10203e7ad2f0fa9486fa759cdb7339f/proglearn/transformers.py#L510-L511

**Describe the solution you'd like**

Replace this code block with

[2021-01-13 05:14] v715 opened #417 "Implement MORF"
**Is your feature request related to a problem? Please describe.**

See issues #23, #64, and #65. A base implementation of MORF would be useful and is necessary for additional MORF studies.

**Describe the solution you'd like**

Implement `ManifoldObliqueSplitter` and `ManifoldObliqueTreeClassifier` in `transformers.py`.

Should be very simple to make the splitter. The class can inherit everything

[2021-01-13 13:20] PSSF23 commented on #413
@v715 While I agree with you on having good formats for jupyter notebooks, the `nb_black` extension is one that I have concerns about its implementations. You can check out [this issue](https://github.com/dnanhkhoa/nb_black/issues/29) I made a while ago, which explains how `nb_black` mess up the notebook source codes.

[2021-01-13 15:38] v715 commented on #413
That's interesting, didn't know that's how nb_black works under the hood...

[2021-01-13 16:54] #415 closed

[2021-01-13 17:31] PSSF23 commented on #413
@v715 I just found this other tool called `jupyter-black`: https://github.com/drillan/jupyter-black, which seems to work more elegantly. Yet one problem of formatting jupyter notebooks is that we can not check it with tests. Feel free to optimize our [tutorial guidelines](https://github.com/neurodata/ProgLearn/blob/staging/docs/contributing.rst#tutorial-guidelines)!

[2021-01-14 01:03] PSSF23 commented on #391
Don't know what happened on `travis` side, but `travis.org` was certainly not "_officially closed down completely no later than December 31st, 2020_." The migration is thus postponed until further updates.

[2021-01-14 03:22] PSSF23 commented on #377
@EYezerets One difference I found between [the original notebook](https://github.com/neurodata/uncertainty-forest/blob/master/figs/fig2/figure-2.ipynb) and [the new benchmark functions](https://github.com/neurodata/ProgLearn/blob/staging/docs/tutorials/functions/unc_forest_tutorials_functions.py) is that in the `estimate_ce` function, the original UF never took out the 0.3 testing data for evaluat

[2021-01-14 14:37] PSSF23 commented on #377
To put it more specifically, the original UF has the |_D_<sup>P</sup>| : |_D_<sup>V</sup>| : |_D_<sup>E</sup>| ratio as `0.4 : 0.3 : 0.3`, but the new benchmark functions has `0.4*0.7 : 0.6*0.7 : 0.3 = 0.28 : 0.42 : 0.3`. And the `0.3` evaluation dataset is the same for all trees, differing from the original implementation.

[2021-01-21 15:58] v715 opened #418 "Transform data with any valid projection matrix"
**Is your feature request related to a problem? Please describe.**
Supersedes #417

**Describe the solution you'd like**
We're planning a bunch of new MORF experiments with different types of patches (convolutional filters, gabor filters, etc.)

Allowing the user to define and pass their own projection matrix sampling functions would make these experiments a lot easier, rather than having a new sp

[2021-01-21 19:16] PSSF23 commented on #418
I personally think that modifying the existing function makes more sense, so it could save us an additional splitter class?

[2021-01-21 21:30] parthgvora opened #419 "Improve Proglearn SPORF speed"
Cythonize bottlenecks in SPORF to speed up training times.

[2021-01-21 21:30] parthgvora commented on #419
please assign me to this

[2021-01-21 23:56] rflperry commented on #419
I took a look at the sklearn cython tree code. I think a potential course of action is to basically copy over the `sklearn.tree.DecisionTreeClassifier` code and all the cython backend to the proglearn repo. Then modify the cython backend to add oblique splits and update the `sklearn.tree.DecisionTreeClassifier` class as need be.

This would allow for easy compatible integration with sklearn. It al

[2021-01-22 02:52] PSSF23 commented on #10
After looking over the entire package, I found out that `proglearn` itself really doesn't use `tensorflow` or `scipy` at all. We only use them for benchmarks and tutorials, so I believe they probably should not count as package dependencies.

@jdey4 @levinwil How do you guys think?

[2021-01-22 03:20] PSSF23 commented on #391
Apparently `travis` does not fulfill our needs anymore, thus closing.

[2021-01-22 03:20] #391 closed

[2021-01-22 03:40] PSSF23 commented on #419
@rflperry I hold some objections for the copying idea, as copying the classifier code basically means copying over the entire sklearn.tree [folder](https://github.com/scikit-learn/scikit-learn/tree/master/sklearn/tree). I found it very hard to locate the codes we really need, and the easiest step for `sklearn` integration would be directly working on a fork.

That being said, @parthgvora if you ne

[2021-01-22 14:13] rflperry commented on #419
I personally am not adverse to copying over the entire folder. It seems in some ways easier than trying to write cython functions fully from scratch for parts of the forest. Of course that cython code has a lot of functionality we don't need to worry about modifying for now, but that can just be deleted and then added/modified later (i.e. sparse X case, feature importance, etc)

[2021-01-24 00:16] bstraus1 commented on #65
@jovo @jdey4 Is there any existing code for this? Depending on what code currently exists, I might be able to do this.

[2021-01-24 00:18] bstraus1 commented on #35
I'm interested in this issue. Who should I talk to in order to get more info? @jdey4

[2021-01-24 00:19] bstraus1 commented on #42
I'm interested in this issue. Who should I talk to in order to get more info? @jdey4

[2021-01-24 14:04] PSSF23 commented on #65
@bstraus1 This issue depends on #417 and @v715 is working on it.

[2021-01-25 09:33] sparthib commented on #289
I am interested in this issue. @javierhow is willing to help.

[2021-01-26 17:36] mkusman1 commented on #417
I would be interested in working on this issue for my spring semester.

[2021-01-26 17:47] mkusman1 commented on #417
@v715 @jdey4 @sampan501

[2021-01-26 17:55] v715 commented on #417
hi @mkusman1, having a working morf implementation is mission critical for experiments people in the lab are planning to run

im going to prioritize getting this done in the next two weeks (see #418)

#65 is a downstream issue from this that @bstraus1 was interested in. im sure there are others.

one thing that would be useful is having a way of measuring feature importance in a forest. this is im

[2021-01-26 17:59] mkusman1 commented on #417
@v715 Okay I perfectly understand that!

In this case, I would be happy to work on implementing feature importance. Should I create new issue for that?

[2021-01-26 18:33] PSSF23 commented on #417
@v715 I can confirm that feature importance is absent from the current implementation.

@mkusman1 Always feel free to open new issues after confirming no repetition~

[2021-01-26 18:39] mkusman1 opened #421 "Implementing feature importance"
According to @v715 ,

"One thing that would be useful is having a way of measuring feature importance in a forest. this is implemented in the original SPORF repo in R (see [here](https://github.com/neurodata/SPORF/blob/a7a3c7e6df457b722de86d7254f8a7724b27978f/R-Project/R/FeatureImportance.R)), and it would be useful to have this in proglearn. "

Implementing feature importance along with recreatin

[2021-01-26 18:39] mkusman1 commented on #421
Please assign me to this issue

[2021-01-26 20:41] emilyachang opened #422 "Further exploration of progressive learning capabilities between different datasets"
**Is your feature request related to a problem? Please describe.**
This is an extension of the work done previously in #397 (and, somewhat, #40 and #48) to all the datasets within the following github repo: https://github.com/neurodata/LLF_tidy_images

**Describe the solution you'd like**
The plan is to run the FTE/BTE experiment between the different datasets to see if transfer can be achieved be

[2021-01-28 05:43] bstraus1 opened #423 "Model the Proglearn Documentation After the Verde Documentation"
Overall, the goal of this umbrella issue is to match the [Proglearn documentation](http://proglearn.neurodata.io/tutorials.html# ) to the [Verde](https://www.fatiando.org/verde/latest/tutorials/overview.html ) and [Xarray](http://xarray.pydata.org/en/stable/) documentation.

The sub-issues below will be updated periodically.

Sub-issues:

- [x] Add an overview section (as in the [Verde](https://ww

[2021-01-28 05:44] bstraus1 commented on #423
Can I be assigned to this issue @sampan501?

[2021-01-28 05:46] bstraus1 opened #424 "Sub-issue of #423 (Match Proglearn Documentation to Verde): Add Overview section"
See #423

This is a sub-task with the specific goal to implement an Overview section in the proglearn documentation similar to that in the [Verde](https://www.fatiando.org/verde/latest/tutorials/overview.html) documentation.

[2021-01-28 05:47] bstraus1 opened #425 "Sub-issue of #423 (Match Proglearn Documentation to Verde): Add Sphinx Gallery"
See #423

This is a sub-task with the specific goal to implement a Sphinx Gallery in the proglearn documentation similar to that in the [Verde](https://www.fatiando.org/verde/latest/tutorials/overview.html) documentation.

[2021-01-28 05:47] bstraus1 commented on #424
May I be assigned to this issue @sampan501?

[2021-01-28 05:47] bstraus1 commented on #425
May I be assigned to this issue @sampan501?

[2021-01-28 15:15] rflperry commented on #425
We also switched to sphinx gallery for mvlearn, modeled after sklearn, if you want a package to reference, https://mvlearn.github.io/

[2021-01-28 16:03] bstraus1 commented on #425
Oh! That's very helpful. Thanks!

[2021-01-28 18:42] srahul1222 commented on #422
@PSSF23 I would like to be assigned to this issue as well

[2021-01-28 18:55] chenyugoal commented on #422
@PSSF23 Please assign me as well! Thanks!

[2021-01-28 19:23] rflperry opened #426 "Contrastive learning transformer for PL Network"
### Background

Currently, the progressive learning network transformer is learned as a byproduct of optimizing the softmax objective loss for classification accuracy.

Contrastive loss ([reference 1](https://arxiv.org/abs/2004.11362), [reference 2](https://arxiv.org/pdf/2002.05709.pdf)) explicitly learns a transformer, penalizing samples of different classes that are close to one another (see als

[2021-02-02 05:47] PSSF23 opened #427 "Switch PR tests to CircleCI"
**Is your feature request related to a problem? Please describe.**
Travis CI has changed its credit system and does not meet our development need anymore.

**Describe the solution you'd like**
Move all PR tests to [CircleCI](https://circleci.com/) and complete configuration

**Describe alternatives you've considered**
None yet

**Additional context (e.g. screenshots)**
Example for configuration fi

[2021-02-02 06:04] tliu68 opened #428 "techniques for adversarial tasks"
**Is your feature request related to a problem? Please describe.**
Those PRs/issues (#79, #3, #389, #394) are trying to improve the performance of progressive learning in adversarial settings for different kinds of data or ??.

**Describe the solution you'd like**
We (me and @williamrxu @ykobaya9 @latasianguy) would like to document techniques for overcoming difficulties in a progressive learner’s

[2021-02-03 00:11] PSSF23 commented on #351
Reopen until performance and correctness verified with paper figures

[2021-02-03 00:12] PSSF23 commented on #352
Reopen until performance and correctness verified with paper figures

[2021-02-03 16:48] #427 closed

[2021-02-04 19:09] mkusman1 opened #434 "RF-DN paper - audio dataset"
RF-DN paper
Performance comparisons between random forests and deep networks on the audio dataset.

https://github.com/PSSF23/rf-dn-paper
https://www.overleaf.com/read/wqdxtmykrzmq

[2021-02-04 19:15] emilyachang opened #435 "Run the recruitment experiment on image datasets in LLF_tidy_images"
Is your feature request related to a problem? Please describe.
Continuation of the work in #47.

Describe the solution you'd like
The recruitment experiment on MNIST/fashion-MNIST will be modified to fit the image datasets within the repo: https://github.com/neurodata/LLF_tidy_images

Additional context
Sub-issue of #422.

[2021-02-04 20:34] PSSF23 opened #436 "RF-DN paper: multiple class comparisons on image dataset"
#### RF-DN paper
Performance comparisons between random forests and deep networks.
#### Task
Conduct multiple class comparisons on image dataset: CIFAR-10
#### Links
https://github.com/PSSF23/rf-dn-paper
https://www.overleaf.com/read/wqdxtmykrzmq

[2021-02-05 00:41] #401 closed

[2021-02-05 01:30] ypeng22 opened #437 "RF-DN paper: 2 class Cifar10"
All 2 class experiments comparing resnet18 to random forest for the Cifar10 dataset.

[2021-02-05 18:23] Michael-Ainsworth opened #438 "RF-DN paper: tabular data comparison"
#### RF-DN paper

Performance comparison between RF and DN on the OpenML-CC18 datasets

#### Task

Develop and train models using CC18 datasets over a range of sample sizes; observe trends

#### Links

https://github.com/PSSF23/rf-dn-paper
https://www.overleaf.com/read/wqdxtmykrzmq

[2021-02-09 14:00] #424 closed

[2021-02-09 18:46] bstraus1 opened #442 "Sub-issue of #423 (Match Proglearn Documentation to Verde): Improve display of tutorials"
See #423

This is a sub-task with the specific goal to Improve visual display of tutorials (break up into "user guide" and "examples") in the proglearn documentation similar to that in the [Verde](https://www.fatiando.org/verde/latest/tutorials/overview.html) documentation.

[2021-02-11 09:36] williamrxu opened #443 "Adversarial Tasks Paper: Demonstrate CPD on additional datasets"
**Is your feature request related to a problem? Please describe.**
This issue is a sub-issue of #428 where we are trying to write a paper describing techniques for overcoming difficulties in a progressive learner’s performance with different types of adversarial tasks.

**Describe the solution you'd like**
Perform CPD domain adaptation experiment on Cifar 10 embedded into lower dimensions and/or C

[2021-02-11 16:04] srahul1222 opened #444 "Run fte/bte experiment on DTD"
**Is your feature request related to a problem? Please describe.**
As explained [here](https://github.com/neurodata/ProgLearn/issues/422), this issue relates to the larger goal of writing a paper describing the applications of proglearn on the various datasets found here: https://github.com/neurodata/LLF_tidy_images. Before attempting to achieve transfer across datasets, the goal of this issue is

[2021-02-11 16:04] srahul1222 commented on #444
@jdey4

[2021-02-12 01:22] latasianguy opened #445 "XOR-RXOR tutorial breaking"
XOR-RXOR experiment notebook breaking.

#### Reproducing code example:

[code]

#### Error message

[code]

#### Version information

- Windows 10
- Python 3.7.9
- 0.0.3

[2021-02-12 01:39] latasianguy commented on #445
Just kidding, I was on 0.0.3 instead of 0.0.4.
Will run the experiment and close issue if this works.

[2021-02-12 02:41] latasianguy commented on #445
Checked, looks good.

[2021-02-12 02:41] #445 closed

[2021-02-15 18:00] ykobaya9 opened #446 "Adversarial Tasks Paper: Optimal Transport"
**Is your feature request related to a problem? Please describe.**
This issue stems from #428, where we are trying to explore techniques for progressive learner in dealing with adversarial tasks.

**Describe the solution you'd like**
My idea was to explore optimal transport algorithms to align the data points or the posterior distribution. I would also like to compare the performance with the poin

[2021-02-16 03:13] bstraus1 opened #448 "Sub-issue of #423 (Match Proglearn Documentation to Verde): Add API Reference"
See #423

This is a sub-task with the specific goal to add the API reference section in the proglearn documentation similar to that in the [Verde](https://www.fatiando.org/verde/latest/tutorials/overview.html) documentation.

[2021-02-23 19:45] bstraus1 opened #450 "Remove duplicate imports from __init__.py"
My issue is about ...
`__init__.py` imports `{forest, network}.py` which imports duplicates. This results in duplicate and missed imports.

Example of missed imports: ProgressiveLearner

Possible fixes for duplicates:
- Specify specific packages to import (instead of *).
- Create an "all variable" to track imported packages.

Possible fixes for missed packages:
- Import from more than {network, fo

[2021-02-23 19:46] bstraus1 commented on #450
@jdey4 Sambit asked that I tag you in this because it is a critical issue.

[2021-02-23 21:01] PSSF23 commented on #450
@bstraus1 @sampan501 Why would the missing `ProgressiveLearner` import be a problem? It's always wrapped inside `ClassificationProgressiveLearner` and should not be called directly, just like other base classes.

[2021-02-23 21:25] bstraus1 commented on #450
Perhaps @sampan501 can provide a better answer, but with regard to documentation, Sphinx cannot find it when generating the API reference page.

[2021-02-23 23:08] sampan501 commented on #450
This is less a problem about documentation and more a problem of user access and potential circular inputs. I'm not sure if everything in those files need to be added, and defining the specific ones or at least defining an __all__ variable is desirable. Any private functions in those files can be accessed by the user

[2021-02-24 01:36] PSSF23 commented on #450
@sampan501 In my knowledge, at least all the classes in `base.py` would not be directly imported by anyone. `ProgressiveLearner` is in a similar situation, but all functions and attributes are still implicitly accessible through inheritance. Thus hopefully, nothing in the current package is isolated or unused.

As for the problem of duplicate imports, I suppose the only way to prevent that is to c

[2021-02-24 02:12] sampan501 commented on #450
I personally think the reference documentation should include mentions of helper classes since the people who will be using it will likely be adding functionality to the package. I think that scikit-learn does a good job of this. Otherwise, it is not clear presently how to add feature and contributions without doing an in-depth dive within the package.

The easiest thing for duplicate imports is w

[2021-02-26 14:22] #450 closed

[2021-03-15 21:40] #448 closed

[2021-03-25 17:17] chenyugoal opened #455 "Run FTE/BTE experiment across Aircraft and BirdSnap datasets"
**Is your feature request related to a problem? Please describe.**
As explained [here](https://github.com/neurodata/ProgLearn/issues/422), this issue relates to the larger goal of writing a paper describing the ability of omnidirectional lifelong learning to transfer knowledge across different datasets. #422

**Describe the solution you'd like**
Datasets in [LLF_tidy_images](https://github.com/neu

[2021-04-01 18:46] EYezerets commented on #387
New text of issue in sklearn:

**Is your feature request related to a problem? Please describe.**

Honest sampling in forests was first outlined by Breiman et al. 1984 in Classification and Regression Forests, in which it was suggested that random forests improve performance when the feature space is partitioned on one subset of samples, and the posteriors are estimated on a disjoint subset of the

[2021-04-08 18:03] latasianguy opened #456 "Differences in add_task and add_transformer for PL base class"
My issue is about: seeing differences in the behavior of `add_task` and `add_transformer` methods implemented in the `progressive_learner` class. Calling `add_task` and `add_transformer` for different tasks lead to drastically different BTE behaviors, even though `add_task` just calls `add_transformer`.

<img src="https://user-images.githubusercontent.com/54046695/114074447-600b9e80-9872-11eb-813a

[2021-04-08 18:04] latasianguy commented on #456
@jdey4
@srahul1222 if you can provide a link to the notebook of the figure above

[2021-04-15 16:27] srahul1222 commented on #456
Link to notebook and functions file for new figure (using add_task for all tasks):
- https://github.com/srahul1222/progressive-learning/blob/flowers/docs/experiments/fte_bte_flowers.ipynb
- https://github.com/srahul1222/progressive-learning/blob/flowers/docs/experiments/functions/fte_bte_flowers_functions.py

[2021-04-16 16:15] srahul1222 opened #459 "Run fte/bte experiment on the Flowers dataset"
**Is your feature request related to a problem? Please describe.**
As explained [here](https://github.com/neurodata/ProgLearn/issues/422), this issue relates to the larger goal of writing a paper describing the applications of proglearn on the various datasets found here: https://github.com/neurodata/LLF_tidy_images. Before attempting to achieve transfer across datasets, the goal of this issue is

[2021-04-16 16:15] srahul1222 commented on #459
@jdey4

[2021-04-28 03:35] #442 closed

[2021-04-28 03:36] #425 closed

[2021-04-28 03:36] #423 closed

[2021-04-28 14:44] latasianguy opened #461 "Adding KNNClassificationDeciders to ProgLearn"
**Is your feature request related to a problem? Please describe.**
An extension to issue #5, transferring the KNNDecider idea to the classification setting.

**Describe the solution you'd like**
Create a decider with the following properties:
- Create a list of KNNClassifiers from sklearn for each bag
- The features to the KNNClassifier are the posterior probabilities from each transformer and eac

[2021-04-28 14:44] latasianguy commented on #461
@jdey4 Can I be assigned to this

[2021-05-04 16:24] Michael-Ainsworth commented on #438
The updated repository for RF-DN issues is: https://github.com/NeuroDataDesign/rf-dn-paper

This issue was addressed with the following pull request: https://github.com/NeuroDataDesign/rf-dn-paper/pull/12

[2021-05-04 17:31] PSSF23 commented on #436
Code archive: https://github.com/NeuroDataDesign/rf-dn-paper/tree/main/image

[2021-05-06 16:22] #387 closed

[2021-05-13 16:24] #437 closed

[2021-05-31 18:54] #436 closed

[2021-05-31 18:55] #438 closed

[2021-05-31 18:55] #434 closed

[2021-08-20 02:21] jdey4 opened #470 "Fix formatting errors throughout the docs."
My issue is about ...

#### Snapshot of documentation error:
<img width="1288" alt="Screen Shot 2021-08-19 at 9 19 24 PM" src="https://user-images.githubusercontent.com/52499217/130169121-bbfac82b-38e4-47f2-bd2c-9bd99099bf4f.png">

#### Additional context

[2021-08-20 02:24] jdey4 opened #471 "Suppress unnecessary verbose in the Jupyter notebook outputs."
<img width="679" alt="Screen Shot 2021-08-19 at 9 24 17 PM" src="https://user-images.githubusercontent.com/52499217/130169352-17b821b4-83bc-451d-a6d1-cc22918605f1.png">

My issue is about ...

#### Snapshot of documentation error:

#### Additional context

[2021-08-23 14:16] PSSF23 commented on #470
@jdey4 The current website is not the latest version. It's not built on `main` or `staging`.

[2021-08-23 14:45] jdey4 commented on #470
@PSSF23 are you sure? We should close this issue after merging the staging into main then.

[2021-08-23 14:50] PSSF23 commented on #470
@jdey4 Yes, the tutorial list is incomplete and your screenshot is from a previous version. I'm trying to locate the reason why the deploy changed. Do you have any clue?

[2021-08-23 14:53] jdey4 commented on #470
Maybe this has something to do with it: https://app.netlify.com/teams/amp/builds/

[2021-08-23 14:56] PSSF23 commented on #470
Sorry don't have permission to see the page.

[2021-08-24 14:45] #470 closed

[2021-08-24 23:08] #337 closed

[2021-08-24 23:11] PSSF23 commented on #332
@jdey4 I think this could be a `Sprint 0`?

[2021-08-25 01:29] PSSF23 opened #472 "Fix netlify deployment"
The current `netlify` website deployment of `main` is broken. Fix by local deployment and push changes to `staging`.

Possible cause: `CITATION.cff`

[2021-08-25 05:37] jdey4 commented on #332
@PSSF23 now it seems a good sprint 0.

[2021-09-10 15:31] jdey4 opened #473 "Add typical install time on a "normal" desktop computer."
My issue is about ...

#### Snapshot of documentation error:

#### Additional context
As par the requirements of nature machine intelligence, we need to add installation time in the docs.

[2021-09-10 16:00] #473 closed

[2021-09-10 16:07] jdey4 opened #475 "Fix the Gaussian Xor and XNOR experiment and the plots."
My issue is about ...
The parity experiment uses the old name PLF and the Y-axis should be changed to log-scale in order to be consistent with the main draft.
#### Snapshot of documentation error:

<img width="717" alt="Screen Shot 2021-09-10 at 11 05 54 AM" src="https://user-images.githubusercontent.com/52499217/132883736-caf5d4b8-78b4-49d7-bb6a-fb0825a7ae91.png">

#### Additional context

[2021-09-10 16:41] PSSF23 commented on #475
@jdey4 https://github.com/neurodata/ProgLearn/blob/staging/docs/experiments/functions/xor_nxor_functions.py

[2021-09-12 05:56] #475 closed

[2021-09-12 15:12] jdey4 opened #477 "Fix Gaussian XOR and RXOR tutorial to match the main draft."
My issue is about ...

#### Snapshot of documentation error:

#### Additional context

[2021-09-12 17:07] #472 closed

[2021-09-13 06:37] jdey4 opened #480 "Change L2F to Odif in the random_class_exp and label_shuffle_exp."
My issue is about ...
Documentation.
#### Snapshot of documentation error:

![Screen Shot 2021-09-13 at 1 36 39 AM](https://user-images.githubusercontent.com/52499217/133035356-3fef2411-a0af-43ef-9a33-9d23daabdfb8.png)

#### Additional context

[2021-09-13 13:18] #477 closed

[2021-09-13 13:35] KevinWang905 commented on #421
Can I be assigned this issue?

[2021-09-16 00:12] kfenggg opened #482 "cannot import name 'Adam' from 'keras.optimizers' in UncertaintyForest tutorial"
My issue is about below error when running the uncertainty forest tutorial (uncertaintyforest_running_example.ipynb)
<img width="1680" alt="proglearnissue" src="https://user-images.githubusercontent.com/89429238/133529019-6acba630-5d6f-44d0-a776-d77fc2b7fa3d.png">

#### Reproducing code example:

[code]

#### Error message

[code]

#### Version information

- OS: macOS Monterey V12.0
- Python 3.8.

[2021-09-16 00:58] AishwaryaSeth opened #483 "Code Compatibility Issues in the Tutorials"
This issue documents current code compatibility and missing package issues in the tutorials.

#### Snapshots of documentation error:

1. ConvRF_Kappas.ipynb: No module named 'torch'. I downloaded and installed Pytorch and torchvision, and rebuilt the proglearn package, but the error still appears.

<img width="1792" alt="ConvRF" src="https://user-images.githubusercontent.com/40052470/133530012-325

[2021-09-16 01:21] PSSF23 commented on #482
fixed in `staging`: https://github.com/neurodata/ProgLearn/blob/staging/proglearn/network.py

[2021-09-16 01:21] #482 closed

[2021-09-16 18:05] #28 closed

[2021-09-16 18:31] KevinWang905 commented on #34
Could I please be assigned to this issue? Thanks in advance.

[2021-09-17 14:09] #480 closed

[2021-09-17 15:03] #455 closed

[2021-09-17 15:03] #47 closed

[2021-09-17 15:03] #56 closed

[2021-09-18 15:47] PSSF23 opened #485 "Fix black formatting checks"
My issue is about fixing the `CircleCI` check on black formatting during PRs.

#### Snapshot of documentation error:

#### Additional context

[2021-09-18 20:55] #435 closed

[2021-09-18 20:56] #459 closed

[2021-09-18 20:56] #444 closed

[2021-09-18 20:56] #422 closed

[2021-09-18 21:01] #66 closed

[2021-09-18 21:02] #309 closed

[2021-09-18 21:22] PSSF23 commented on #88
Close per #397

[2021-09-18 21:22] #88 closed

[2021-09-18 22:03] PSSF23 opened #486 "Fix ValueError in spoken_digit_exp due to data shapes"
My issue is about fixing the `ValueError` when running `spoken_digit_exp` with `Odin`.

#### Reproducing code example:

[code]

#### Error message

[code]

#### Version information

- OS: macOS
- Python Version 3.8.5
- Package Version 0.0.4

@jdey4

[2021-09-19 15:40] #486 closed

[2021-09-19 15:41] jdey4 opened #488 "Organize double descent experiment."
My issue is about ...

#### Snapshot of documentation error:

#### Additional context

[2021-09-19 15:54] #488 closed

[2021-09-19 16:57] #332 closed

[2021-09-21 01:02] amyvanee opened #493 "FTE-BTE Food Experiment"
My issue is about running the FTE-BTE Food Experiment

#### Reproducing code example:

[code]

#### Error message

[code]

#### Version information

- OS: Windows
- Python Version: 3.8.2
- Package Version: 0.0.1

Thank you!

[2021-09-27 00:14] kfenggg commented on #413
Can I be assigned to this?

[2021-09-29 02:59] #413 closed

[2021-09-29 13:23] PSSF23 commented on #218
@jdey4 is this done?

[2021-09-29 15:15] jdey4 commented on #218
yea

[2021-09-29 15:15] #218 closed

[2021-10-01 17:57] PSSF23 commented on #483
The tutorial/experiment notebooks should be up-to-date now.

[2021-10-01 17:57] #483 closed

[2021-10-01 17:58] #471 closed

[2021-10-06 16:18] PSSF23 opened #496 "Optimize scipy requirement"
Make `scipy` more version-flexible

[2021-10-06 16:37] #496 closed, assigned to PSSF23

[2021-10-07 18:11] mordred-skywalker commented on #289
I'm also interested in the issue.

[2021-10-15 02:09] #340 closed

[2021-10-15 02:09] #202 closed

[2021-10-15 14:42] #54 closed

[2021-10-15 14:48] LizaNaydanova opened #500 "Adding XOR -> XNOR -> XOR experiment"
Part of #34: Add experiment similar to XOR to XNOR in docs. After adding XNOR data, add new XOR data to test whether streaming improved results on XOR.

[2021-10-15 14:49] KevinWang905 opened #501 "Add update_task to proglearn for data streaming"
Add a task that updates previous tasks based on new data with task labels

[2021-10-15 15:02] nhahn7 opened #502 "Add streaming XOR Experiments"
Part of #34: Add experiments extending Gaussian XOR by adding new XOR data to see performance on R-XOR & XNOR

[2021-10-15 15:20] PSSF23 opened #503 "Optimize class inheritance"
#### Is your feature request related to a problem? Please describe.

Currently, many classes like `LifelongClassificationForest` uses `ClassificationProgressiveLearner` for the actual functions, such as `predict_proba` and `predict`. This results in unnecessary duplicity in initializations & tests.

#### Describe the solution you'd like

Let classes inherit the appropriate parent classes & directl

[2021-10-15 23:20] PSSF23 opened #504 "Unify num_transformers and n_estimators"
@jdey4 we probably should use only one of the names for all classes & functions. If we try to follow `sklearn` api, would `n_estimators` be better?

[2021-10-18 21:11] PSSF23 opened #505 "Optimize fitting checks for networks"
My issue is about optimizing fitting checks for networks. Currently, we can't check `keras` networks with `sklearn` api. Or do we need to know?

[2021-10-21 01:59] #308 closed

[2021-10-21 17:02] #505 closed, assigned to PSSF23

[2021-11-04 17:47] amyvanee opened #509 "Scene Segmentation with Random Forest"
My issue is about adjusting Proglearn so we can do scene segmentation after flattening the images.

#### Reproducing code example:

[code]

#### Error message

[code]

#### Version information

- OS: [e.g. macOS] Windows
- Python Version [e.g. 3.7.3]: Python 3.7.3
- Package Version [e.g. 0.0.1]

[2021-11-04 20:34] jdey4 commented on #509
@amyvanee did you try fitting proglearn for one task only? I would not try it with other people's code. Please try to train it on only one task using add_task first. Let's not use parallel for now.

[2021-11-04 20:43] PSSF23 commented on #509
@amyvanee Which version of `proglearn` are you using?

[2021-11-05 03:41] AishwaryaSeth opened #510 "Adding Bayes' Error Calculation for Gaussian Sparse Parity"
The Bayes' Error is the minimum error that any algorithm can achieve, because this is an error that is inherent in the problem. While creating algorithms (including ProgLearn) that work with Gaussian Sparse Parity problems, it is imperative to have an estimate of what the actual inherent error of this problem is. This will help identify bugs in code, as well as provide a realistic estimate of how

[2021-11-05 18:19] #510 closed

[2021-11-06 13:56] amyvanee commented on #509
@PSSF23  Sorry about that, I am using Proglearn 0.0.5

[2021-11-06 14:14] amyvanee commented on #509
@jdey4 I tried going to the basics more and initializing a LifelongClassification Forest, but I got an error.

``
%  Declare the progressive learner model (L2F)
learner = LifelongClassificationForest()

% add the task
learner.add_task(
                flat_x,
                flat_y,
                task_id=0
                )
``

And the output,

``
TypeError                                 Traceb

[2021-11-06 15:14] PSSF23 commented on #509
@amyvanee always use the latest version, which is `0.0.6` now. And what are `data_x` & `flat_x` & ... ? We have no idea what they are, but the `y` seems too large. What are the labels of these images?

[2021-11-07 14:26] amyvanee commented on #509
@PSSF23

- Thank you! I tried updating to Proglearn 0.0.6, using
``
pip install proglearn --upgrade
``
but I got an error.
``
error: Could not find module 'hdf5.dll' (or one of its dependencies). Try using the full path with constructor syntax.
    Loading library to get version: hdf5.dll
``

- The images are from the [ADE20K consistency set ](http://groups.csail.mit.edu/vision/datasets/ADE20K/ind

[2021-11-07 14:47] PSSF23 commented on #509
- The error is unrelated to `proglearn`. I have never seen it before.
- Your fitting process doesn't make sense. Based on your descriptions, each `y` image is different so there's no valid classification.

[2021-11-07 14:48] PSSF23 commented on #509
BTW are you working on #39 ? Why didn't you comment on it?

[2021-11-07 14:50] amyvanee commented on #509
@PSSF23
- Thank you, I will try seeing if I can fix it another way!
- Yes that was my concern since I know proglearn takes in the true labels as one label per image (so a 2D image where the output is, for example, "dog") -- would I need to make modifications to the proglearn code to do this? I know [scikit ](https://www.google.com/url?q=https://scikit-image.org/docs/stable/auto_examples/segmentati

[2021-11-07 14:57] PSSF23 commented on #509
@amyvanee No problem. As the example in your link, `sklearn` RF must rely on `skimage` to process the images. You can definitely follow it and try it on `proglearn`. Odif (`LifelongClassificationForest`) would replace the `RandomForestClassifier` in that example.

[2021-11-07 19:15] amyvanee commented on #509
@PSSF23 Thank you, I will try that! Yes, I am working with Narayani Wagle (@nhwagle) and Kevin Rao (@KhelmholtzR) We made a separate [GitHub repo](https://github.com/KhelmholtzR/ProglearnSceneSegmentation) with some of our progress

[2021-11-07 19:15] amyvanee commented on #39
I will work on this with Narayani Wagle (@nhwagle) and Kevin Rao (@KhelmholtzR)

[2021-11-07 19:19] PSSF23 commented on #509
@amyvanee @nhwagle @KhelmholtzR you should all comment on #39 and create your independent sub-issue here. So we can keep track of what you are working on.

[2021-11-07 19:31] amyvanee commented on #509
@PSSF23 Thank you for your help!

I tried using LifelongClassificationForest, but when I tried importing it, I got the following error. Have you seen this before?

``
---------------------------------------------------------------------------
AlreadyExistsError                        Traceback (most recent call last)
<ipython-input-13-38d6cdc00b7f> in <module>
----> 1 from proglearn.forest import

[2021-11-07 19:56] PSSF23 commented on #509
- First, code block uses ```
- Second, you are still using 0.0.5

[2021-11-07 20:09] amyvanee commented on #509
@PSSF23 Thank you for the fix! Yeah unfortunately I am still having trouble upgrading to 0.0.5, I will focus on that then before trying out Odif. Thank you!

[2021-11-07 20:12] PSSF23 commented on #509
Cool. Having up-to-date software is always the minimum necessity for development. Some of your problems might already be solved 0.0.6.

[2021-11-07 22:29] PSSF23 commented on #39
@nhwagle @khelmholtzr you two should also comment here.

[2021-11-08 17:01] nhwagle commented on #39
I am working on this issue with Amy van Ee & Kevin Rao.

[2021-11-09 20:27] amyvanee commented on #509
@PSSF23 I was able to update to Proglearn 0.0.6! However, I still get the same error?

Here is my code,

[code]

Here is the error
[code]

[2021-11-09 20:35] PSSF23 commented on #509
@amyvanee you should use `from proglearn import LifelongClassificationForest`.

[2021-11-10 03:51] amyvanee commented on #509
@PSSF23 Thank you! I still do seem to be getting the same error though that it already exists? I am not sure why it thinks it already exists?

[2021-11-10 03:55] PSSF23 commented on #509
@amyvanee I just realized you were still on 0.0.5 version (see error messages). You need to clean up and reboot everything to make sure you have the right version.

The command I gave works correctly on my machine.

[2021-11-15 18:36] KhelmholtzR commented on #39
Working on this issue with Amy vane Ee and Narayani Wagle.

[2021-12-12 05:53] Dante-Basile opened #520 "Unsupervised Contrastive Loss Function"
### Background

A loss function suitable for unsupervised learning would contribute to extending ProgLearn's training domain to unsupervised settings in which labeled data are not available.

The unsupervised contrastive loss function is described in the paper [SimCLR - A Simple Framework for Contrastive Learning of Visual Representations](https://arxiv.org/pdf/2002.05709.pdf) and implemented at t

[2021-12-12 12:41] rflperry commented on #520
Would recommend FTE/BTE experiments like in the [supcon loss PR](https://github.com/neurodata/ProgLearn/pull/518). I think the gain of unsupcon over supcon is being able to leverage large amounts of unlabeled data to approach the supervised accuracy levels.

But the SimCLR paper examines transfer learning performance, learning an unsupervised representation and then given labeled data a 1-layer si

[2021-12-12 18:57] #485 closed

[2021-12-17 20:24] PSSF23 commented on #500
Merging with #502

[2021-12-17 20:24] #500 closed

[2021-12-31 12:13] rflperry opened #530 "Investigate combined honest trees + isotonic calibration"
## Background
Honest decision trees build upon conventional decision trees by splitting the samples into two sets: one for learning the decision tree structure and the other for learning the classification posterior probabilities. In practice, this provides better calibration (i.e. the estimated probabilities are closer to the true probabilities). See [this paper for details](https://arxiv.org/abs

[2022-01-25 01:15] nhahn7 commented on #501
@PSSF23 Can you assign me to this issue? Thanks

[2022-01-25 03:16] rjewang commented on #502
Hi, I am interested in this issue. Could you please assign me to this? Thanks!

[2022-01-25 03:32] rjewang commented on #530
Hi, I am interested in this issue! Could you assign me to it please? Thanks!

[2022-01-25 03:34] PSSF23 commented on #530
@rflperry Zihan is a NDD student. Can she contact you for more information through NDD slack/email/... ?

[2022-01-25 08:36] rflperry commented on #530
@PSSF23 @rjewang NDD slack works.

[2022-02-17 11:43] jzheng17 commented on #530
I'll take this issue

[2022-02-17 14:12] PSSF23 commented on #530
@jzheng17 great! You can ask @rflperry if you have questions about the intended implementations.

[2022-02-17 15:12] rflperry commented on #530
@jzheng17 Per the first point, I've made [a new repository](https://github.com/neurodata/honest-forests) in the group in which to move the existing methods and add new features. Another student will also be working out of that repo. I'm also available on the slack.

[2022-02-17 18:25] jzheng17 commented on #530
Thanks for letting me know. I'll take a look at the repo.

[2022-02-21 07:40] rflperry commented on #530
@jzheng17 As you can see from this issue being mentioned in the other repostiory, I've updated the honest-forests package. it now includes all the code for honest decision trees and honest forests as well as a couple small simulations from the proglearn package to verify results. Instructions to install and contribute are on the github page https://github.com/neurodata/honest-forests

[2022-03-11 17:43] PSSF23 opened #538 "Fix documentation website"
My issue is about fixing `Netlify` rendering or documentation website. The problems (#536 #537) could be related to `sphinx` and `nbsphinx` versions.

#### Error message

[code]

#### Version information

- OS: Netlify
- Python Version 3.8
- Package Version 0.0.6+

[2022-03-11 17:53] PSSF23 commented on #538
Fixed in 9aaa570

[2022-03-11 17:53] #538 closed

[2022-04-25 13:49] PSSF23 opened #543 "DOC fix typos in model attribute titles"
My issue is about fixing typos in `progressive_learner.py`, `forest.py`, and `network.py`.

#### Snapshot of documentation error:

`task_id_to_trasnformer_id_to_voters`
#### Additional context

[2022-05-18 13:24] PSSF23 commented on #501
@nhahn7 I also save the test here in case the test file is changed in the future.

[code]

[2022-09-06 17:34] PSSF23 opened #546 "FIX migrate Netlify image from Xenial to Focal"
Netlify is removing Xenial support in Nov.

[2022-09-07 13:36] PSSF23 opened #548 "FIX MLKNNClassificationVoter errors likely due to scipy deprecations"
My issue is about fixing test errors on MLKNNClassificationVoter

#### Reproducing code example:

https://github.com/neurodata/ProgLearn/blob/ca15f3b22496bee14f85627ad30e433c1bcd58b8/proglearn/tests/test_voter.py#L81-L104

#### Error message

[code]

#### Version information

- CircleCI Pytest